<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Quản lý danh bạ | VRB</title>
    <meta name="viewport" content="width=375, initial-scale=1.0" />
    <meta content="VRB" name="description" />
    <meta content="VRB" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- Bootstrap Css -->
    <link
      href="assets/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App Css-->
    <link
      href="assets/css/app.css"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/contact.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="child-page page-background account-page contact-page">
    <div id="app" class="page-content">
      <div class="list-small-icons">
        <div class="item">
          <img src="assets/icons/dollar-circle.svg" alt="dollar-circle" />
        </div>
        <div class="item">
          <img src="assets/icons/map.svg" alt="map" />
        </div>
        <div class="item">
          <img src="assets/icons/message-question.svg" alt="message-question" />
        </div>
      </div>

      <header-component></header-component>

      <menu-component></menu-component>

      <div class="page-background">
        <img src="assets/images/cliparts/bg-right.svg" alt="bg-right" />
      </div>

      <div class="container home-container">
        <div class="breadcrumbs">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="home.html">
                  <i class="isax isax-home-2"></i>
                  Trang chủ
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Quản lý danh bạ
              </li>
            </ol>
          </nav>
        </div>

        <div class="page-title">
          <a class="back" href="home.html">
            <i class="isax isax-arrow-left-2"></i>
          </a>
          <h2>Quản lý danh bạ</h2>
        </div>

        <div class="card pb-3">
          <div
            class="card-header d-flex justify-content-between bg-white p-lg-4"
          >
            <div class="header-tabs">
              <div
                class="header-tab"
                :class="{'active': activeTab == 'tab1'}"
                @click="activeTab = 'tab1'"
              >
                Danh bạ thụ hưởng
              </div>
              <div
                class="header-tab"
                :class="{'active': activeTab == 'tab2'}"
                @click="activeTab = 'tab2'"
              >
                Mẫu chuyển tiền
              </div>
            </div>

            <div class="d-flex gap-3">
              <div v-if="activeTab == 'tab1'" class="input-search">
                <i class="isax isax-search-normal-1"></i>
                <input
                  v-model="searchQuery"
                  placeholder="Tìm kiếm danh bạ"
                  class="form-control"
                />
              </div>

              <div v-else class="input-search">
                <i class="isax isax-search-normal-1"></i>
                <input
                  v-model="searchTemplateQuery"
                  placeholder="Tìm kiếm mẫu"
                  class="form-control"
                />
              </div>

              <button
                v-if="activeTab == 'tab1'"
                type="button"
                class="btn btn-third"
                data-bs-toggle="modal"
                data-bs-target="#add-contact"
              >
                <i class="isax isax-add"></i>
                Thêm danh bạ
              </button>

              <button
                v-else
                type="button"
                class="btn btn-third"
                data-bs-toggle="modal"
                data-bs-target="#add-template"
              >
                <i class="isax isax-add"></i>
                Thêm mẫu chuyển tiền
              </button>
            </div>
          </div>

          <table class="table" v-if="activeTab == 'tab1'">
            <thead>
              <tr>
                <th>
                  <label class="form-check mb-0">
                    <input class="form-check-input" type="checkbox" />
                  </label>
                </th>
                <th class="fw-normal">STT</th>
                <th class="fw-normal">Tên</th>
                <th class="fw-normal">Ngân hàng thụ hưởng</th>
                <th class="fw-normal">Số tài khoản/Thẻ thụ hưởng</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(contact, index) in filteredList">
                <td>
                  <label class="form-check mb-0">
                    <input class="form-check-input" type="checkbox" />
                  </label>
                </td>
                <td class="text-muted">{{index+1}}</td>
                <td class="fw-bold text-uppercase">{{contact.name}}</td>
                <td class="fw-bold">
                  <div class="d-flex align-items-center gap-2">
                    <div class="bank-logo">
                      <img :src="contact.logo" alt="" />
                    </div>
                    {{contact.bank}}
                  </div>
                </td>
                <td class="fw-bold">{{contact.number}}</td>
                <td class="mobile-only">
                  <div class="contact-info">
                    <div class="bank-logo">
                      <img :src="contact.logo" alt="" />
                    </div>
                    <div class="contact-detail">
                      <div class="contact-name">{{contact.name}}</div>
                      <div class="contact-number">{{contact.number}}</div>
                      <div>{{contact.bank}}</div>
                    </div>
                  </div>
                </td>
                <td class="text-end">
                  <div class="dropdown dropdown-action">
                    <i
                      class="isax isax-more"
                      data-bs-toggle="dropdown"
                      style="transform: rotate(90deg)"
                    ></i>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="#">
                          <i class="isax isax-trash"></i> Xoá
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="">
                          <a class="dropdown-item" href="#">
                            <i class="isax isax-heart"></i> Yêu thích
                          </a>
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-template" v-else>
            <thead>
              <tr>
                <th>
                  <label class="form-check mb-0">
                    <input class="form-check-input" type="checkbox" />
                  </label>
                </th>
                <th class="fw-normal">STT</th>
                <th class="fw-normal">Mẫu chuyển tiền</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(template, index) in filteredTemplateList">
                <td>
                  <label class="form-check mb-0">
                    <input class="form-check-input" type="checkbox" />
                  </label>
                </td>
                <td class="text-muted">{{ index + 1}}</td>
                <td class="fw-bold text-uppercase">{{ template.name }}</td>
                <td class="text-end">
                  <div class="dropdown dropdown-action">
                    <i
                      class="isax isax-more"
                      data-bs-toggle="dropdown"
                      style="transform: rotate(90deg)"
                    ></i>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="#">
                          <i class="isax isax-trash"></i> Xoá
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="">
                          <a class="dropdown-item" href="#">
                            <i class="isax isax-heart"></i> Yêu thích
                          </a>
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="footer">
        <div class="footer-container">
          <div class="footer-menu d-lg-flex flex-column gap-1">
            <ul>
              <li><a href="#">Hướng dẫn giao dịch an toàn</a></li>
              <li><a href="#">Hướng dẫn sử dụng</a></li>
              <li><a href="#">Hướng dẫn kích hoạt soft token</a></li>
            </ul>
            <div class="copyright">
              <span class="copyright-name">
                ©2023 Ngân hàng Liên doanh Việt - Nga
              </span>
              <span class="divider">|</span>
              <span class="copyright-web">www.vrbank.com.vn</span>
            </div>
          </div>
          <div class="sns">
            <a href="#">
              <img src="assets/icons/google-play.svg" alt="google-play" />
            </a>
            <a href="#">
              <img src="assets/icons/fb.svg" alt="fb" />
            </a>
            <a href="#">
              <img src="assets/icons/appstore-fill.svg" alt="appstore" />
            </a>
            <a class="hotline">
              <img src="assets/icons/call.svg" alt="hotline" />
              <div class="d-flex flex-column">
                <span class="title"> Hotline </span>
                <span class="phone"> 18006656 </span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="modal" id="add-contact">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Thêm danh bạn thủ hưởng</h4>
              <span class="close" data-bs-dismiss="modal">Đóng</span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <select class="form-select">
                <option selected>Loại chuyển tiền</option>
                <option value="1">Chuyển tiền nội bộ VRB</option>
                <option value="2">Chuyển tiền ngoại VRB</option>
                <option value="3">Chuyển tiền quốc tế</option>
              </select>

              <div class="input-group label-transition mt-4">
                <div class="form-label">
                  <input type="number" class="form-control fw-bold" />
                  <label for="account_number"> Số tài khoản/Số thẻ </label>
                </div>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <a href="#">Kiểm tra</a>
                  </div>
                </div>
              </div>

              <div class="input-group label-transition mt-4">
                <div class="form-label">
                  <input type="number" class="form-control fw-bold" />
                  <label for="account_number"> Tên gợi nhớ </label>
                </div>
              </div>

              <div class="d-flex gap-3 mt-4">
                <button
                  class="btn btn-primary btn-back"
                  data-bs-dismiss="modal"
                >
                  Huỷ
                </button>

                <button class="btn btn-third btn-back" data-bs-dismiss="modal">
                  Tạo mới
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="add-template">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Thêm mẫu chuyển tiền</h4>
              <span class="close" data-bs-dismiss="modal">Đóng</span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <select class="form-select">
                <option selected>Loại chuyển tiền</option>
                <option value="1">Chuyển tiền nội bộ VRB</option>
                <option value="2">Chuyển tiền ngoại VRB</option>
                <option value="3">Chuyển tiền quốc tế</option>
              </select>

              <div class="input-group label-transition mt-4">
                <div class="form-label">
                  <input type="text" class="form-control fw-bold" />
                  <label for="account_number"> Mẫu chuyển tiền </label>
                </div>
              </div>

              <div class="d-flex gap-3 mt-4">
                <button
                  class="btn btn-primary btn-back"
                  data-bs-dismiss="modal"
                >
                  Huỷ
                </button>

                <button class="btn btn-third btn-back" data-bs-dismiss="modal">
                  Tạo mới
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- App js -->
    <script src="assets/js/app.js"></script>

    <!-- BS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/vue@3.3.4_dist_vue.global.js"></script>
    <script src="./assets/js/vueuse_shared.min.js"></script>
    <script src="./assets//js/vueuse_core.js"></script>

    <script src="./components/header-component.js"></script>
    <script src="./components/menu.js"></script>

    <script>
      const { createApp, ref, computed, onMounted, onBeforeMount } = Vue;
      const { useDebounceFn } = VueUse;

      createApp({
        components: {
          headerComponent,
          menuComponent,
        },
        setup() {
          const searchQuery = ref("");
          const searchTemplateQuery = ref("");
          const activeTab = ref("tab1");

          const showGlobalSearch = ref(false);
          const searchGlobalQuery = ref("");

          const contactList = [
            {
              logo: "assets/images/banks/vcb.svg",
              bank: "Vietcombank",
              number: "4801001010101010",
              name: "Cao Thi Cham",
            },
            {
              logo: "assets/images/banks/tpb.svg",
              bank: "Tien Phong Bank",
              number: "0919239128",
              name: "Duong Van Nhuong",
            },
            {
              logo: "assets/images/banks/vpb.svg",
              bank: "VP Bank",
              number: "8172382828",
              name: "Duong Van Nhuong",
            },
          ];

          const templateList = [
            {
              name: "Mẫu 1",
            },
            {
              name: "Mẫu 2",
            },
          ];

          const featureList = [
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/loan-amount.svg",
              text: "Cài đặt hạn mức",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/pay-bills.svg",
              text: "Thanh toán hoá đơn",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/recharge.svg",
              text: "Đăng ký hạn mức",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/loyal-customer.svg",
              text: "Chuyển tiền quốc tế",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/account-number.svg",
              text: "Quản lý chi tiêu",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/censorship.svg",
              text: "Quản lý danh bạ",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/statement.svg",
              text: "Sao kê tài khoản",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/transfer-money.svg",
              text: "Smart Kids",
            },
          ];

          const filteredGlobalList = computed(() => {
            const searchQuery = searchGlobalQuery.value.toLowerCase();
            const filteredItems = featureList.filter((x) =>
              x.text.toLowerCase().includes(searchQuery)
            );
            return filteredItems.slice(0, 4);
          });

          const filteredList = computed(() =>
            contactList.filter((x) =>
              x.name.toLowerCase().includes(searchQuery.value.toLowerCase())
            )
          );

          const filteredTemplateList = computed(() =>
            templateList.filter((x) =>
              x.name
                .toLowerCase()
                .includes(searchTemplateQuery.value.toLowerCase())
            )
          );

          const onClickOutside = (event) => {
            const el = document.querySelector(".feature-select");
            if (
              !el ||
              el === event.target ||
              event.target.closest(".feature-select") === el
            ) {
              return;
            }

            showGlobalSearch.value = false;
          };

          onMounted(() => {
            document.addEventListener("click", onClickOutside);
          });

          onBeforeMount(() => {
            document.removeEventListener("click", onClickOutside);
          });

          return {
            searchQuery,
            contactList,
            filteredList,
            searchTemplateQuery,
            templateList,
            filteredTemplateList,
            activeTab,
            showGlobalSearch,
            searchGlobalQuery,
            filteredGlobalList,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
