<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Chuyển tiền quốc tế | VRB</title>
    <meta name="viewport" content="width=375, initial-scale=1.0" />
    <meta content="VRB" name="description" />
    <meta content="VRB" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- Bootstrap Css -->
    <link
      href="assets/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App Css-->
    <link
      href="assets/css/app.css"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/transfer.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="child-page page-background international-money-transfer-page">
    <div id="loading"></div>
    <div id="app" class="page-content">
      <div class="list-small-icons">
        <div class="item">
          <img src="assets/icons/dollar-circle.svg" alt="dollar-circle" />
        </div>
        <div class="item">
          <img src="assets/icons/map.svg" alt="map" />
        </div>
        <div class="item">
          <img src="assets/icons/message-question.svg" alt="message-question" />
        </div>
      </div>

      <header-component></header-component>

      <menu-component></menu-component>

      <div class="page-background">
        <img src="assets/images/cliparts/bg-right.svg" alt="bg-right" />
      </div>

      <div class="container home-container">
        <div class="breadcrumbs">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="home.html">
                  <i class="isax isax-home-2"></i>
                  Trang chủ
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Chuyển tiền
              </li>
            </ol>
          </nav>
        </div>

        <div class="page-title">
          <a class="back" href="home.html">
            <i class="isax isax-arrow-left-2"></i>
          </a>
          <h2>Chuyển tiền quốc tế</h2>
        </div>

        <div class="transaction-step">
          <div class="step-item active">
            <div class="step">1</div>
            <div class="text">Khởi tạo</div>
          </div>
          <div class="progress"></div>
          <div class="step-item">
            <div class="step">2</div>
            <div class="text">Xác nhận</div>
          </div>
          <div class="progress"></div>
          <div class="step-item">
            <div class="step">3</div>
            <div class="text">Kết quả</div>
          </div>
        </div>

        <div class="card content-min-height card-scroll">
          <div class="card-body card-content p-0">
            <div class="transfer-card">
              <div class="transfer-area p-4">
                <div class="card-title">Tài khoản chuyển</div>

                <div class="input-group label-transition">
                  <div class="form-label">
                    <input type="text" class="form-control input-text-bold" />
                    <label>Tài khoản nguồn</label>
                  </div>
                </div>

                <div class="input-group label-transition mt-3">
                  <div class="form-label">
                    <input type="text" class="form-control input-text-bold" />
                    <label>Địa chỉ người chuyển</label>
                  </div>
                </div>

                <div class="sub-title">Số dư khả dụng</div>
                <div class="balances">
                  <span class="money">1,000,000.00 RUB</span>
                  <span class="limit" @click="isShowPopup = !isShowPopup">
                    <i class="isax isax-info-circle"></i> Hạn mức
                  </span>
                </div>

                <div class="balances-popup" :class="{'d-none': isShowPopup}">
                  <div class="balances-item">
                    <div class="label">Hạn mức tối đa còn lại trong ngày</div>
                    <div class="value">300.000 USD</div>
                  </div>
                  <div class="balances-item">
                    <div class="label">Hạn mức được cấp còn lại</div>
                    <div class="value">500.000 USD</div>
                  </div>
                  <div class="balances-item">
                    <div class="label">Hạn mức tối đa lần giao dịch</div>
                    <div class="value">100.000 USD</div>
                  </div>

                  <a href="setting-transaction-limit-step-1.html">
                    Thay đổi hạn mức giao dịch
                  </a>
                </div>

                <div
                  class="mt-4 d-flex align-items-center justify-content-center"
                >
                  <button
                    class="btn btn-third btn-next"
                    onclick="location.href = 'international-money-transfer-step-1-1.html';"
                  >
                    Tiếp tục
                  </button>
                </div>
              </div>

              <div class="contact-area">
                <div class="card">
                  <div class="card-title d-sm-none">
                    <h5>Quản lý danh bạ và mẫu</h5>
                    <i
                      class="isax isax-close-circle"
                      onclick="hideContactArea()"
                    ></i>
                  </div>
                  <div class="card-header">
                    <ul>
                      <li
                        :class="{ active: activeIndex ===  0 }"
                        @click="activeIndex = 0"
                      >
                        Danh sách NTH
                      </li>
                      <li
                        :class="{ active: activeIndex ===  1 }"
                        @click="activeIndex = 1"
                      >
                        Gần đây
                      </li>
                      <li
                        :class="{ active: activeIndex ===  2 }"
                        @click="activeIndex = 2"
                      >
                        Mẫu lưu
                      </li>
                    </ul>
                  </div>
                  <div class="card-body" v-if="activeIndex ===  0">
                    <div class="input-search">
                      <i class="isax isax-search-normal-1"></i>
                      <input
                        placeholder="Tìm kiếm danh bạ"
                        class="form-control"
                      />
                    </div>
                    <div class="contact-list">
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/icons/logo-dark.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">VRB</div>
                        </div>
                      </div>
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/images/banks/tpb.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">TIEN PHONG BANK</div>
                        </div>
                      </div>
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/images/banks/vcb.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">TIEN PHONG BANK</div>
                        </div>
                      </div>
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/images/banks/vpb.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">TIEN PHONG BANK</div>
                        </div>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-third col-lg-12 mx-auto"
                    >
                      Quản lý danh bạ và mẫu
                    </button>
                  </div>
                  <div class="card-body" v-if="activeIndex ===  1">
                    <div class="input-search">
                      <i class="isax isax-search-normal-1"></i>
                      <input
                        placeholder="Tìm kiếm danh bạ"
                        class="form-control"
                      />
                    </div>
                    <div class="contact-list">
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/icons/logo-dark.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">VRB</div>
                        </div>
                      </div>
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/images/banks/tpb.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">TIEN PHONG BANK</div>
                        </div>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-third col-lg-12 mx-auto"
                    >
                      Quản lý danh bạ và mẫu
                    </button>
                  </div>
                  <div class="card-body" v-if="activeIndex ===  2">
                    <div class="input-search">
                      <i class="isax isax-search-normal-1"></i>
                      <input
                        placeholder="Tìm kiếm danh bạ"
                        class="form-control"
                      />
                    </div>
                    <div class="contact-list">
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/icons/logo-dark.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">VRB</div>
                        </div>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-third col-lg-12 mx-auto"
                    >
                      Quản lý danh bạ và mẫu
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="sp-contact" onclick="showContactArea()">
            <img src="assets/icons/book.svg" />
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer-container">
          <div class="footer-menu d-lg-flex flex-column gap-1">
            <ul>
              <li><a href="#">Hướng dẫn giao dịch an toàn</a></li>
              <li><a href="#">Hướng dẫn sử dụng</a></li>
              <li><a href="#">Hướng dẫn kích hoạt soft token</a></li>
            </ul>
            <div class="copyright">
              <span class="copyright-name">
                ©2023 Ngân hàng Liên doanh Việt - Nga
              </span>
              <span class="divider">|</span>
              <span class="copyright-web">www.vrbank.com.vn</span>
            </div>
          </div>
          <div class="sns">
            <a href="#">
              <img src="assets/icons/google-play.svg" alt="google-play" />
            </a>
            <a href="#">
              <img src="assets/icons/fb.svg" alt="fb" />
            </a>
            <a href="#">
              <img src="assets/icons/appstore-fill.svg" alt="appstore" />
            </a>
            <a class="hotline">
              <img src="assets/icons/call.svg" alt="hotline" />
              <div class="d-flex flex-column">
                <span class="title"> Hotline </span>
                <span class="phone"> 18006656 </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- App js -->
    <script src="assets/js/app.js"></script>

    <!-- BS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script>
      toggleContactArea();

      window.addEventListener("resize", toggleContactArea);

      function toggleContactArea() {
        if (window.innerWidth < 576) {
          hideContactArea();
        } else {
          showContactArea();
        }
      }

      function showContactArea() {
        const contactArea = document.querySelector(".contact-area");
        contactArea.style.display = null;
      }

      function hideContactArea() {
        const contactArea = document.querySelector(".contact-area");
        contactArea.style.display = "none";
      }
    </script>

    <script src="./assets/js/vue@3.3.4_dist_vue.global.js"></script>
    <script src="./assets/js/vueuse_shared.min.js"></script>
    <script src="./assets//js/vueuse_core.js"></script>

    <script src="./components/header-component.js"></script>
    <script src="./components/menu.js"></script>

    <script>
      hideLoading();
      const { createApp, ref, computed, onMounted, onBeforeMount } = Vue;
      const { useDebounceFn } = VueUse;

      createApp({
        components: {
          headerComponent,
          menuComponent,
        },
        setup() {
          const showSelector = ref(false);
          const popup = ref(null);
          const bankSelected = ref(null);
          const searchQuery = ref("");
          const activeIndex = ref(0);
          const accountNumber = ref(null);
          const accountName = ref(null);
          const isShowPopup = ref(true);

          const bankList = [
            {
              logo: "assets/images/banks/vcb.svg",
              name: "Vietcombank",
              fullname: "Ngân hàng TMCP Ngoại thương Việt Nam",
            },
            {
              logo: "assets/images/banks/tpb.svg",
              name: "Tien Phong Bank",
              fullname: "Ngân hàng TMCP Ngoại thương Việt Nam",
            },
            {
              logo: "assets/images/banks/vpb.svg",
              name: "VP Bank",
              fullname: "Ngân hàng TMCP Ngoại thương Việt Nam",
            },
            {
              logo: "assets/images/banks/vcb.svg",
              name: "Vietcombank",
              fullname: "Ngân hàng TMCP Ngoại thương Việt Nam",
            },
            {
              logo: "assets/images/banks/tpb.svg",
              name: "Tien Phong Bank",
              fullname: "Ngân hàng TMCP Ngoại thương Việt Nam",
            },
            {
              logo: "assets/images/banks/vpb.svg",
              name: "VP Bank",
              fullname: "Ngân hàng TMCP Ngoại thương Việt Nam",
            },
          ];

          const filteredList = computed(() =>
            bankList.filter((x) =>
              x.name.toLowerCase().includes(searchQuery.value.toLowerCase())
            )
          );

          const showGlobalSearch = ref(false);
          const searchGlobalQuery = ref("");

          const featureGlobalList = [
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/loan-amount.svg",
              text: "Cài đặt hạn mức",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/pay-bills.svg",
              text: "Thanh toán hoá đơn",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/recharge.svg",
              text: "Đăng ký hạn mức",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/loyal-customer.svg",
              text: "Chuyển tiền quốc tế",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/account-number.svg",
              text: "Quản lý chi tiêu",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/censorship.svg",
              text: "Quản lý danh bạ",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/statement.svg",
              text: "Sao kê tài khoản",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/transfer-money.svg",
              text: "Smart Kids",
            },
          ];

          const filteredGlobalList = computed(() => {
            const searchQuery = searchGlobalQuery.value.toLowerCase();
            const filteredItems = featureGlobalList.filter((x) =>
              x.text.toLowerCase().includes(searchQuery)
            );
            return filteredItems.slice(0, 4);
          });

          const onClickOutside = (event) => {
            const el = document.querySelector(".bank-select");
            if (
              !el ||
              el === event.target ||
              event.target.closest(".bank-select") === el
            ) {
              return;
            }

            showSelector.value = false;
          };

          const onClickOutsideGlobal = (event) => {
            const el = document.querySelector(".feature-select");
            if (
              !el ||
              el === event.target ||
              event.target.closest(".feature-select") === el
            ) {
              return;
            }

            showGlobalSearch.value = false;
          };

          onMounted(() => {
            document.addEventListener("click", onClickOutside);
            document.addEventListener("click", onClickOutsideGlobal);
          });

          onBeforeMount(() => {
            document.removeEventListener("click", onClickOutside);
            document.removeEventListener("click", onClickOutsideGlobal);
          });

          const onAccountNumberChange = useDebounceFn(() => {
            accountName.value = accountNumber.value ? "Ngo Xuan Hai" : "";
          }, 500);

          return {
            searchQuery,
            showSelector,
            popup,
            bankList,
            filteredList,
            bankSelected,
            activeIndex,
            accountNumber,
            accountName,
            onAccountNumberChange,
            isShowPopup,
            showGlobalSearch,
            searchGlobalQuery,
            filteredGlobalList,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
