<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Chuyển tiền quốc tế | VRB</title>
    <meta name="viewport" content="width=375, initial-scale=1.0" />
    <meta content="VRB" name="description" />
    <meta content="VRB" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- Bootstrap Css -->
    <link
      href="assets/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App Css-->
    <link
      href="assets/css/app.css"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/transfer.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="child-page page-background international-money-transfer-page">
    <div id="loading"></div>
    <div id="app" class="page-content">
      <div class="list-small-icons">
        <div class="item">
          <img src="assets/icons/dollar-circle.svg" alt="dollar-circle" />
        </div>
        <div class="item">
          <img src="assets/icons/map.svg" alt="map" />
        </div>
        <div class="item">
          <img src="assets/icons/message-question.svg" alt="message-question" />
        </div>
      </div>

      <header-component></header-component>

      <menu-component></menu-component>

      <div class="page-background">
        <img src="assets/images/cliparts/bg-right.svg" alt="bg-right" />
      </div>

      <div class="container home-container">
        <div class="breadcrumbs">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="home.html">
                  <i class="isax isax-home-2"></i>
                  Trang chủ
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Chuyển tiền quốc tế
              </li>
            </ol>
          </nav>
        </div>

        <div class="page-title">
          <a class="back" href="international-money-transfer-step-1.html">
            <i class="isax isax-arrow-left-2"></i>
          </a>
          <h2>Chuyển tiền quốc tế</h2>
        </div>

        <div class="transaction-step">
          <div class="step-item active">
            <div class="step">1</div>
            <div class="text">Khởi tạo</div>
          </div>
          <div class="progress"></div>
          <div class="step-item">
            <div class="step">2</div>
            <div class="text">Xác nhận</div>
          </div>
          <div class="progress"></div>
          <div class="step-item">
            <div class="step">3</div>
            <div class="text">Kết quả</div>
          </div>
        </div>

        <div class="card content-min-height card-scroll">
          <div class="card-body container-flex card-content p-0">
            <div class="transfer-card">
              <div class="transfer-area p-4">
                <div class="card-title">Tài khoản chuyển</div>

                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div>
                      <selector-component
                        placeholder="Tài khoản nguồn"
                        v-model="sourceAccount"
                        :options="accountList"
                        :required="true"
                      >
                        <template #selected="{option}">
                          <b>{{ option.number }} - {{option.currency}}</b>
                        </template>
                        <template #option="{option}">
                          <b class="d-block py-2"
                            >{{ option.number }} - {{option.currency}}</b
                          >
                        </template>
                      </selector-component>

                      <div
                        v-if="sourceAccount"
                        class="available-balance text-end mt-2"
                      >
                        <span class="me-1"> Số dư khả dụng: </span>
                        <b class="text-branding">
                          {{ formatMoney(10000000) }}
                        </b>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="input-group label-transition mt-2">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Tên người chuyển*</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="input-group label-transition mt-2">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Địa chỉ người chuyển*</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="balances">
                  <span class="limit" @click="isShowPopup = !isShowPopup">
                    <i class="isax isax-info-circle"></i> Hạn mức
                  </span>
                </div>

                <div class="balances-popup" :class="{'d-none': isShowPopup}">
                  <div class="balances-item">
                    <div class="label">Hạn mức tối đa còn lại trong ngày</div>
                    <div class="value">300.000 USD</div>
                  </div>
                  <div class="balances-item">
                    <div class="label">Hạn mức được cấp còn lại</div>
                    <div class="value">500.000 USD</div>
                  </div>
                  <div class="balances-item">
                    <div class="label">Hạn mức tối đa lần giao dịch</div>
                    <div class="value">100.000 USD</div>
                  </div>
                </div>

                <div class="card-title mt-3">Thông tin tài khoản nhận</div>

                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="input-group label-transition">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Tài khoản thụ hưởng*</label>
                      </div>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <i class="isax isax-book-1 text-branding"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="input-group label-transition">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Tên người thụ hưởng*</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mt-4">
                    <div class="input-group label-transition">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Mã số thuế INM*</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mt-4">
                    <div class="input-group label-transition">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Mã số ĐK thuế KPP*</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mt-4">
                    <div class="input-group label-transition">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Địa chỉ người thụ hưởng*</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mt-4">
                    <div>
                      <input-autocomplete-component
                        placeholder="Mã BIK"
                        v-model="bikCode"
                        :options="bikCodeList"
                        :required="true"
                      >
                        <template #option="{option}">
                          <b class="d-block">{{ option.value }}</b>
                          <div class="description">
                            {{ option.description }}
                          </div>
                        </template>
                      </input-autocomplete-component>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mt-4">
                    <div class="input-group label-transition">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Tên người thụ hưởng*</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mt-4">
                    <div class="input-group label-transition">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Địa chỉ NH thụ hưởng*</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mt-4">
                    <div class="input-group label-transition">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Ngân hàng trung gian</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mt-4">
                    <div class="input-group label-transition">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Số tk tại NH trung gian</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mt-4">
                    <div class="input-group label-transition">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Số tk tại NH trung gian</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mt-4">
                    <div class="input-group label-transition">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Ngân hàng trung gian</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-12 mt-4">
                    <div class="input-group label-transition">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Số tiền chuyển*</label>
                      </div>
                      <div class="input-group-append custom">
                        <div class="input-group-text">RUB</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-12 mt-4">
                    <selector-component
                      placeholder="Mã phí chuyển tiền"
                      v-model="transferCode"
                      :options="transferCodeList"
                      :required="true"
                    >
                      <template #selected="{option}">
                        <b>{{ option.text }}</b>
                      </template>
                      <template #option="{option}">
                        <b class="d-block py-2">{{ option.text }}</b>
                      </template>
                    </selector-component>
                  </div>

                  <div class="col-12 mt-4 mb-4">
                    <div class="save-contact">
                      <input class="form-check-input" type="checkbox" />
                      <label class="form-check-label">
                        Lưu danh bạ thụ hưởng
                      </label>
                    </div>
                  </div>
                </div>

                <div class="card-title">Danh mục hồ sơ đính kèm</div>

                <div class="sub-title">Hồ sơ đính kèm</div>

                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="file-attach">
                      <input class="form-check-input" type="checkbox" />
                      <label class="form-check-label"> Bảng lương * </label>
                    </div>
                    <div class="file-attach">
                      <input class="form-check-input" type="checkbox" />
                      <label class="form-check-label">
                        Hợp đồng lao động *
                      </label>
                    </div>
                    <div class="file-attach">
                      <input class="form-check-input" type="checkbox" />
                      <label class="form-check-label"> Giấy tờ khác * </label>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 file-border-left">
                    <div class="file-document">
                      <div class="title-file-document">File chứng từ</div>
                      <div class="d-flex gap-1 align-items-center">
                        <button class="btn btn-primary" @click="openFile">
                          Chọn tệp
                        </button>
                        <span class="sub-title-file">
                          Loại file hợp lệ: xls, slsx, doc, pfd, jpg... Dung
                          lượng tối đa: 5MB
                        </span>
                        <input class="d-none" id="file-input" type="file" />
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 mt-4">
                    <selector-component
                      placeholder="Mã mục đích VO code"
                      v-model="voCode"
                      :options="voCodeList"
                      :required="false"
                    >
                      <template #selected="{option}">
                        <b>{{ option.text }}</b>
                      </template>
                      <template #option="{option}">
                        <b class="d-block py-2">{{ option.text }}</b>
                      </template>
                    </selector-component>
                  </div>

                  <div class="col-12 col-md-6 mt-4">
                    <selector-component
                      placeholder="Mức độ ưu tiên"
                      v-model="priority"
                      :options="priorityList"
                      :required="false"
                    >
                      <template #selected="{option}">
                        <b>{{ option.text }}</b>
                      </template>
                      <template #option="{option}">
                        <b class="d-block py-2">{{ option.text }}</b>
                      </template>
                    </selector-component>
                  </div>

                  <div class="col-12 mt-4">
                    <div class="input-group label-transition">
                      <div class="form-label">
                        <input
                          type="text"
                          class="form-control input-text-bold"
                        />
                        <label>Nội dung chuyển tiền*</label>
                      </div>
                    </div>
                    <div class="note">
                      <span
                        class="text-label"
                        data-bs-toggle="modal"
                        data-bs-target="#note"
                      >
                        <i class="isax isax-info-circle"></i>
                        <span>Ghi chú</span>
                      </span>
                    </div>
                  </div>
                </div>

                <div
                  class="group-button-bottom"
                >
                <button
                  class="btn btn-primary btn-back"
                  onclick="location.href = 'international-money-transfer-step-1.html';"
                >
                  Quay lại
                </button>

                  <button
                    class="btn btn-third btn-submit"
                    onclick="location.href = 'international-money-transfer-step-2.html';"
                  >
                    Tiếp tục
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer-container">
          <div class="footer-menu d-lg-flex flex-column gap-1">
            <ul>
              <li><a href="#">Hướng dẫn giao dịch an toàn</a></li>
              <li><a href="#">Hướng dẫn sử dụng</a></li>
              <li><a href="#">Hướng dẫn kích hoạt soft token</a></li>
            </ul>
            <div class="copyright">
              <span class="copyright-name">
                ©2023 Ngân hàng Liên doanh Việt - Nga
              </span>
              <span class="divider">|</span>
              <span class="copyright-web">www.vrbank.com.vn</span>
            </div>
          </div>
          <div class="sns">
            <a href="#">
              <img src="assets/icons/google-play.svg" alt="google-play" />
            </a>
            <a href="#">
              <img src="assets/icons/fb.svg" alt="fb" />
            </a>
            <a href="#">
              <img src="assets/icons/appstore-fill.svg" alt="appstore" />
            </a>
            <a class="hotline">
              <img src="assets/icons/call.svg" alt="hotline" />
              <div class="d-flex flex-column">
                <span class="title"> Hotline </span>
                <span class="phone"> 18006656 </span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="modal" id="note">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h5 class="modal-title">Ghi chú</h5>
              <span class="close" data-bs-dismiss="modal">
                <img src="assets/icons/control.svg" />
              </span>
            </div>

              <div class="notice-block">
                <ul>
                  <li>
                    Giờ giao dịch CTQT từ 08:00 - 15:30, từ thứ 2-6 hàng tuần
                    (trừ ngày lễ tết);
                  </li>
                  <li>
                    Trong trường hợp KH tạo lệnh giao dịch khi đã hết thời gian
                    chuyển tiền hệ thống sẽ lưu lệnh sang ngày làm việc tiếp
                    theo để tiếp tục chuyển;
                  </li>
                  <li>
                    Tất cả các thông tin KH nhập trên màn hình khởi tạo lện
                    chuyển là các ký tự không có dấu đặc biệt (ví dụ: !, @,
                    #,$,%,^,&...)
                  </li>
                  <li>
                    Ngày giao dịch có giá trị là ngày hệ thống VRB trích nợ tài
                    khoản chuyển đi và thực hiện giao dịch
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- App js -->
    <script src="assets/js/app.js"></script>

    <!-- BS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="./assets/js/vue@3.3.4_dist_vue.global.js"></script>
    <script src="./assets/js/vueuse_shared.min.js"></script>
    <script src="./assets//js/vueuse_core.js"></script>

    <script src="./components/header-component.js"></script>
    <script src="./components/menu.js"></script>
    <script src="./components/selector.js"></script>
    <script src="./components/input-autocomplete.js"></script>

    <script>
      hideLoading();
      const { createApp, ref, computed, onMounted, onBeforeMount } = Vue;
      const { useDebounceFn } = VueUse;

      createApp({
        components: {
          headerComponent,
          menuComponent,
          selectorComponent,
          inputAutocompleteComponent,
        },
        setup() {
          const showSelector = ref(false);
          const bankSelected = ref(null);
          const searchQuery = ref("");
          const activeIndex = ref(0);
          const accountNumber = ref(null);
          const accountName = ref(null);
          const isShowPopup = ref(true);

          const bankList = [
            {
              logo: "assets/images/banks/vcb.svg",
              name: "Vietcombank",
              fullname: "Ngân hàng TMCP Ngoại thương Việt Nam",
            },
            {
              logo: "assets/images/banks/tpb.svg",
              name: "Tien Phong Bank",
              fullname: "Ngân hàng TMCP Ngoại thương Việt Nam",
            },
            {
              logo: "assets/images/banks/vpb.svg",
              name: "VP Bank",
              fullname: "Ngân hàng TMCP Ngoại thương Việt Nam",
            },
            {
              logo: "assets/images/banks/vcb.svg",
              name: "Vietcombank",
              fullname: "Ngân hàng TMCP Ngoại thương Việt Nam",
            },
            {
              logo: "assets/images/banks/tpb.svg",
              name: "Tien Phong Bank",
              fullname: "Ngân hàng TMCP Ngoại thương Việt Nam",
            },
            {
              logo: "assets/images/banks/vpb.svg",
              name: "VP Bank",
              fullname: "Ngân hàng TMCP Ngoại thương Việt Nam",
            },
          ];

          const filteredList = computed(() =>
            bankList.filter((x) =>
              x.name.toLowerCase().includes(searchQuery.value.toLowerCase())
            )
          );

          const showGlobalSearch = ref(false);
          const searchGlobalQuery = ref("");

          const featureGlobalList = [
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/loan-amount.svg",
              text: "Cài đặt hạn mức",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/pay-bills.svg",
              text: "Thanh toán hoá đơn",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/recharge.svg",
              text: "Đăng ký hạn mức",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/loyal-customer.svg",
              text: "Chuyển tiền quốc tế",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/account-number.svg",
              text: "Quản lý chi tiêu",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/censorship.svg",
              text: "Quản lý danh bạ",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/statement.svg",
              text: "Sao kê tài khoản",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/transfer-money.svg",
              text: "Smart Kids",
            },
          ];

          const filteredGlobalList = computed(() => {
            const searchQuery = searchGlobalQuery.value.toLowerCase();
            const filteredItems = featureGlobalList.filter((x) =>
              x.text.toLowerCase().includes(searchQuery)
            );
            return filteredItems.slice(0, 4);
          });

          const onClickOutside = (event) => {
            const el = document.querySelector(".bank-select");
            if (
              !el ||
              el === event.target ||
              event.target.closest(".bank-select") === el
            ) {
              return;
            }

            showSelector.value = false;
          };

          const onClickOutsideGlobal = (event) => {
            const el = document.querySelector(".feature-select");
            if (
              !el ||
              el === event.target ||
              event.target.closest(".feature-select") === el
            ) {
              return;
            }

            showGlobalSearch.value = false;
          };

          onMounted(() => {
            document.addEventListener("click", onClickOutside);
            document.addEventListener("click", onClickOutsideGlobal);
          });

          onBeforeMount(() => {
            document.removeEventListener("click", onClickOutside);
            document.removeEventListener("click", onClickOutsideGlobal);
          });

          const onAccountNumberChange = useDebounceFn(() => {
            accountName.value = accountNumber.value ? "Ngo Xuan Hai" : "";
          }, 500);

          const sourceAccount = ref(null);
          const bikCode = ref(null);
          const transferCode = ref(null);
          const voCode = ref(null);
          const priority = ref(null);

          const accountList = [
            {
              number: "05000210000471",
              currency: "RUB",
            },
            {
              number: "05000210000123",
              currency: "RUB",
            },
          ];
          const bikCodeList = [
            {
              value: "012345678",
              description: "Vietnam Bank for Agriculture and Rural Development",
            },
            {
              value: "0123456",
              description: "Vietnam Bank for Agriculture and Rural Development",
            },
            {
              value: "01234",
              description: "Vietnam Bank for Agriculture and Rural Development",
            },
          ];
          const transferCodeList = [
            {
              value: "1",
              text: "SHA - Người chuyển chịu phí trong nước",
            },
            {
              value: "2",
              text: "SHA - Người nhận chịu phí trong nước",
            },
            {
              value: "3",
              text: "SHA - Người chuyển chịu phí ngoài nước",
            },
          ];
          const voCodeList = [
            {
              value: "1",
              text: "0010",
            },
            {
              value: "2",
              text: "0020",
            },
            {
              value: "3",
              text: "00330",
            },
          ];
          const priorityList = [
            {
              value: "1",
              text: "Cao",
            },
            {
              value: "2",
              text: "Thường",
            },
            {
              value: "3",
              text: "Thấp",
            },
          ];

          function formatMoney(money) {
            return new Intl.NumberFormat().format(money || 0) + " RUB";
          }

          const openFile = () => {
            document.getElementById("file-input").click();
          };

          return {
            searchQuery,
            showSelector,
            bankList,
            filteredList,
            bankSelected,
            activeIndex,
            accountNumber,
            accountName,
            onAccountNumberChange,
            isShowPopup,
            showGlobalSearch,
            searchGlobalQuery,
            filteredGlobalList,
            sourceAccount,
            accountList,
            bikCodeList,
            bikCode,
            transferCode,
            transferCodeList,
            voCode,
            voCodeList,
            priority,
            priorityList,
            formatMoney,
            openFile,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
