<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Thay đổi mật khẩu</title>
    <meta name="viewport" content="width=375, initial-scale=1.0" />
    <meta content="VRB" name="description" />
    <meta content="VRB" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- Bootstrap Css -->
    <link
      href="assets/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App Css-->
    <link
      href="assets/css/app.css"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body class="child-page page-background service-suspension-page">
    <div id="loading"></div>

    <div id="app" class="page-content">
      <div class="list-small-icons">
        <div class="item">
          <img src="assets/icons/dollar-circle.svg" alt="dollar-circle" />
        </div>
        <div class="item">
          <img src="assets/icons/map.svg" alt="map" />
        </div>
        <div class="item">
          <img src="assets/icons/message-question.svg" alt="message-question" />
        </div>
      </div>

      <header-component></header-component>

      <menu-component></menu-component>

      <div class="page-background">
        <img src="assets/images/cliparts/bg-right.svg" alt="bg-right" />
      </div>

      <div class="container home-container">
        <div class="breadcrumbs">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="home.html">
                  <i class="isax isax-home-2"></i>
                  Trang chủ
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="#"> Bảo mật </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Thay đổi mật khẩu
              </li>
            </ol>
          </nav>
        </div>

        <div class="page-title">
          <a class="back" href="home.html">
            <i class="isax isax-arrow-left-2"></i>
          </a>
          <h2>Thay đổi mật khẩu</h2>
        </div>

        <div class="transaction-step">
          <div class="step-item active">
            <div class="step">1</div>
            <div class="text">Nhập thông tin</div>
          </div>
          <div class="progress"></div>
          <div class="step-item">
            <div class="step">2</div>
            <div class="text">Xác nhận</div>
          </div>
          <div class="progress"></div>
          <div class="step-item">
            <div class="step">3</div>
            <div class="text">Kết quả</div>
          </div>
        </div>

        <div class="card py-3 flex-fill content-min-height card-scroll">
          <div class="container-flex d-grid gap-3 card-content">
            <div
              class="notice"
              data-bs-toggle="modal"
              data-bs-target="#modal-notice"
            >
              <i class="isax isax-info-circle"></i>
              <span> Lưu ý với Đổi mật khẩu </span>
            </div>

            <div class="input-group label-transition flex-fill mt-3">
              <div class="form-label">
                <input
                  :type="showPassword ? 'text' : 'password'"
                  class="form-control fw-bold"
                  name="username"
                />
                <label for="username">Mật khẩu cũ*</label>
              </div>
              <div class="input-group-append">
                <div
                  class="input-group-text"
                  @click="showPassword = !showPassword"
                >
                  <i
                    class="isax lh-19 fs-20 cursor-pointer"
                    :class="showPassword ? 'isax-eye' : 'isax-eye-slash'"
                  ></i>
                </div>
              </div>
            </div>

            <div class="input-group label-transition flex-fill mt-3">
              <div class="form-label">
                <input
                  :type="showNewPassword ? 'text' : 'password'"
                  class="form-control fw-bold"
                  name="username"
                  v-model="newPassword"
                  @input="handleInputChange"
                />
                <label for="username">Mật khẩu mới*</label>
              </div>
              <div class="input-group-append">
                <div
                  class="input-group-text"
                  @click="showNewPassword = !showNewPassword"
                >
                  <i
                    class="isax lh-19 fs-20 cursor-pointer"
                    :class="showNewPassword ? 'isax-eye' : 'isax-eye-slash'"
                  ></i>
                </div>
              </div>
            </div>
            <div class="error-list" v-if="!!newPassword">
              <template v-for="error in validateMessage">
                <div class="error-item">
                  <img
                    v-if="showMessageError(error.code)"
                    src="assets/icons/check.svg"
                    alt="icon"
                  />
                  <img v-else src="assets/icons/x.svg" alt="icon" />
                  <span
                    class="message"
                    :class="!showMessageError(error.code) ? 'error' : 'success' "
                  >
                    {{ error.message }}
                  </span>
                </div>
              </template>
            </div>

            <div class="input-group label-transition flex-fill mt-3">
              <div class="form-label">
                <input
                  :type="showConfirmPassword ? 'text' : 'password'"
                  class="form-control fw-bold"
                  name="username"
                />
                <label for="username">Nhập lại mật khẩu*</label>
              </div>
              <div class="input-group-append">
                <div
                  class="input-group-text"
                  @click="showConfirmPassword = !showConfirmPassword"
                >
                  <i
                    class="isax lh-19 fs-20 cursor-pointer"
                    :class="showConfirmPassword ? 'isax-eye' : 'isax-eye-slash'"
                  ></i>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center mb-5 mt-3">
              <a href="password-change-2.html" class="btn btn-third">
                Tiếp tục
              </a>
            </div>
          </div>
        </div>

        <div class="footer footer-responsive-height">
          <div class="footer-container">
            <div class="footer-menu d-lg-flex flex-column gap-1">
              <ul>
                <li><a href="#">Hướng dẫn giao dịch an toàn</a></li>
                <li><a href="#">Hướng dẫn sử dụng</a></li>
                <li><a href="#">Hướng dẫn kích hoạt soft token</a></li>
              </ul>
              <div class="copyright">
                <span class="copyright-name">
                  ©2023 Ngân hàng Liên doanh Việt - Nga
                </span>
                <span class="divider">|</span>
                <span class="copyright-web">www.vrbank.com.vn</span>
              </div>
            </div>
            <div class="sns">
              <a href="#">
                <img src="assets/icons/google-play.svg" alt="google-play" />
              </a>
              <a href="#">
                <img src="assets/icons/fb.svg" alt="fb" />
              </a>
              <a href="#">
                <img src="assets/icons/appstore-fill.svg" alt="appstore" />
              </a>
              <a class="hotline">
                <img src="assets/icons/call.svg" alt="hotline" />
                <div class="d-flex flex-column">
                  <span class="title"> Hotline </span>
                  <span class="phone"> 18006656 </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer-container">
          <div class="footer-menu d-lg-flex flex-column gap-1">
            <ul>
              <li><a href="#">Hướng dẫn giao dịch an toàn</a></li>
              <li><a href="#">Hướng dẫn sử dụng</a></li>
              <li><a href="#">Hướng dẫn kích hoạt soft token</a></li>
            </ul>
            <div class="copyright">
              <span class="copyright-name">
                ©2023 Ngân hàng Liên doanh Việt - Nga
              </span>
              <span class="divider">|</span>
              <span class="copyright-web">www.vrbank.com.vn</span>
            </div>
          </div>
          <div class="sns">
            <a href="#">
              <img src="assets/icons/google-play.svg" alt="google-play" />
            </a>
            <a href="#">
              <img src="assets/icons/fb.svg" alt="fb" />
            </a>
            <a href="#">
              <img src="assets/icons/appstore-fill.svg" alt="appstore" />
            </a>
            <a class="hotline">
              <img src="assets/icons/call.svg" alt="hotline" />
              <div class="d-flex flex-column">
                <span class="title"> Hotline </span>
                <span class="phone"> 18006656 </span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Modal notice -->
      <div class="modal" id="modal-notice">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Lưu ý với Đổi mật khẩu</h4>
              <img src="assets/icons/control.svg" data-bs-dismiss="modal" />
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <p>Đối với đổi mật khẩu</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- App js -->
    <script src="assets/js/app.js"></script>

    <!-- BS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/vue@3.3.4_dist_vue.global.js"></script>
    <script src="./assets/js/vueuse_shared.min.js"></script>
    <script src="./assets//js/vueuse_core.js"></script>
    <script src="./components/header-component.js"></script>
    <script src="./components/menu.js"></script>

    <script>
      hideLoading();
      const { createApp, ref, computed, onMounted, onBeforeMount } = Vue;
      const { useDebounceFn } = VueUse;

      createApp({
        components: {
          headerComponent,
          menuComponent,
        },

        setup() {
          const showPassword = ref(false);
          const showNewPassword = ref(false);
          const showConfirmPassword = ref(false);

          const newPassword = ref("");

          const errorList = ref([]);

          const validateMessage = ref([
            {
              code: "length",
              message: "Tối thiểu 6 kí tự",
            },
            {
              code: "invalid-value",
              message: "Bao gồm số và chữ số",
            },
          ]);

          const handleInputChange = () => {
            if (!!newPassword.value) {
              if (newPassword.value.length < 6) {
                if (!errorList.value.includes("length")) {
                  errorList.value.push("length");
                }
              } else {
                errorList.value = errorList.value.filter(
                  (item) => item != "length"
                );
              }

              const pattern = /^(?=.*[a-zA-Z])(?=.*\d).+$/;
              if (!pattern.test(newPassword.value)) {
                if (!errorList.value.includes("invalid-value")) {
                  errorList.value.push("invalid-value");
                }
              } else {
                errorList.value = errorList.value.filter(
                  (item) => item != "invalid-value"
                );
              }
            }
          };

          const showMessageError = (code) => {
            return !errorList.value.includes(code);
          };

          return {
            showPassword,
            showNewPassword,
            showConfirmPassword,
            newPassword,
            errorList,
            validateMessage,
            handleInputChange,
            showMessageError,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
