<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Thanh toán hóa đơn | VRB</title>
    <meta name="viewport" content="width=375, initial-scale=1.0" />
    <meta content="VRB" name="description" />
    <meta content="VRB" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- Bootstrap Css -->
    <link
      href="assets/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App Css-->
    <link
      href="assets/css/app.css"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/transfer.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="child-page page-background pay-bills-page">
    <div id="app" class="page-content">
      <div class="list-small-icons">
        <div class="item">
          <img src="assets/icons/dollar-circle.svg" alt="dollar-circle" />
        </div>
        <div class="item">
          <img src="assets/icons/map.svg" alt="map" />
        </div>
        <div class="item">
          <img src="assets/icons/message-question.svg" alt="message-question" />
        </div>
      </div>
      <div class="header-fixed">
        <div class="container">
          <div class="logo-and-search">
            <a class="logo" href="login.html">
              <img src="assets/icons/logo-dark.svg" alt="logo" />
            </a>
            <input type="search" placeholder="Tìm kiếm..." />
          </div>

          <div class="header-menu">
            <span role="button" class="header-notifications">
              <i class="isax isax-notification"></i>
              <span class="number">3</span>
            </span>
            <span role="button" class="header-language">
              <img src="assets/icons/uk-flag.svg" alt="flag" />
            </span>
            <div class="user-menu">
              <div class="user-menu-content">
                <div class="user-menu-welcome">Chào buổi sáng!</div>
                <div class="user-menu-name">Ngô Xuân Hải</div>
              </div>
              <div class="user-menu-avatar">
                <div class="dropdown">
                  <button type="button" data-bs-toggle="dropdown">
                    <img src="assets/images/cliparts/avatar.jpeg" />
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Tài khoản</a></li>
                    <li>
                      <a class="dropdown-item" href="login.html">Đăng xuất</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-background">
        <img src="assets/images/cliparts/bg-right.svg" alt="bg-right" />
      </div>

      <div class="container home-container">
        <div class="breadcrumbs">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="home.html">
                  <i class="isax isax-home-2"></i>
                  Trang chủ
                </a>
              </li>
              <li class="breadcrumb-item" aria-current="page">Dịch vụ thẻ</li>
              <li class="breadcrumb-item active" aria-current="page">
                Thanh toán hóa đơn
              </li>
            </ol>
          </nav>
        </div>

        <div class="page-title">
          <a class="back" href="home.html">
            <i class="isax isax-arrow-left-2"></i>
          </a>
          <h2>Thanh toán hóa đơn</h2>
        </div>

        <div class="transaction-step">
          <div class="step-item active">
            <div class="step">1</div>
            <div class="text">Khởi tạo</div>
          </div>
          <div class="progress"></div>
          <div class="step-item">
            <div class="step">2</div>
            <div class="text">Xác nhận</div>
          </div>
          <div class="progress"></div>
          <div class="step-item">
            <div class="step">3</div>
            <div class="text">Kết quả</div>
          </div>
        </div>

        <div class="card pay-bills-content">
          <div class="card-body p-0">
            <div class="pay-bill-card">
              <div class="transfer-area pay-bills-area">
                <div class="pay-bills-title">Thông tin thanh toán</div>
                <div class="bank-select">
                  <div class="bank-selector" @click="showSelector = true">
                    <!-- Khi chọn ngân hàng thụ hưởng thì render div này lên -->
                    <div
                      v-if="bankSelected"
                      class="bank-selected"
                      @click="showSelector = true"
                    >
                      <span>{{ bankSelected.number }}</span>
                    </div>
                    <!-- End -->
                    <div class="bank-select-placeholder">Tài khoản nguồn</div>
                  </div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="isax"
                    width="1em"
                    height="1em"
                    viewBox="0 0 24 25"
                    fill="none"
                    @click="showSelector = true"
                  >
                    <path
                      d="M17.92 8.30957H11.69H6.07999C5.11999 8.30957 4.63999 9.46957 5.31999 10.1496L10.5 15.3296C11.33 16.1596 12.68 16.1596 13.51 15.3296L15.48 13.3596L18.69 10.1496C19.36 9.46957 18.88 8.30957 17.92 8.30957Z"
                      fill="currentColor"
                    />
                  </svg>

                  <!-- Khi click vào khung chọn ngân hàng thụ hưởng thì hiển thị/render div này lên -->
                  <transition>
                    <div v-if="showSelector" class="bank-select-popup">
                      <input
                        v-model="searchQuery"
                        class="bank-select-input"
                        placeholder="Nhập số tài khoản"
                      />
                      <div class="bank-list">
                        <div
                          v-for="account in filteredList"
                          class="bank-item"
                          @click="bankSelected = account; showSelector = false"
                        >
                          <div class="bank-logo">
                            <img :src="account.logo" />
                          </div>
                          <div class="bank-name">
                            <b> {{ account.number }}</b>
                            <div class="text-secondary">{{ account.name }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </transition>
                  <!-- End -->
                </div>

                <div class="bank-select">
                  <div class="bank-selector">
                    <div class="bank-select-placeholder">Dịch vụ</div>
                  </div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="isax"
                    width="1em"
                    height="1em"
                    viewBox="0 0 24 25"
                    fill="none"
                    @click="showSelector = true"
                  >
                    <path
                      d="M17.92 8.30957H11.69H6.07999C5.11999 8.30957 4.63999 9.46957 5.31999 10.1496L10.5 15.3296C11.33 16.1596 12.68 16.1596 13.51 15.3296L15.48 13.3596L18.69 10.1496C19.36 9.46957 18.88 8.30957 17.92 8.30957Z"
                      fill="currentColor"
                    />
                  </svg>
                </div>

                <div class="bank-select">
                  <div class="bank-selector">
                    <div class="bank-select-placeholder">Nhà cung cấp</div>
                  </div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="isax"
                    width="1em"
                    height="1em"
                    viewBox="0 0 24 25"
                    fill="none"
                    @click="showSelector = true"
                  >
                    <path
                      d="M17.92 8.30957H11.69H6.07999C5.11999 8.30957 4.63999 9.46957 5.31999 10.1496L10.5 15.3296C11.33 16.1596 12.68 16.1596 13.51 15.3296L15.48 13.3596L18.69 10.1496C19.36 9.46957 18.88 8.30957 17.92 8.30957Z"
                      fill="currentColor"
                    />
                  </svg>
                </div>

                <div class="input-group label-transition">
                  <div class="form-label w-100">
                    <input class="form-control fw-bold" name="account_number" />
                    <label for="account_number"> Mã KH.SĐT/Số HĐ </label>
                  </div>
                </div>

                <div class="d-flex justify-content-end">
                  <button
                    type="button"
                    class="btn btn-third"
                    onclick="location.href = 'pay-bills-step-2.html';"
                  >
                    Tiếp tục
                  </button>
                </div>
              </div>

              <div class="contact-area">
                <div class="card">
                  <div class="card-title d-sm-none">
                    <h5>Quản lý danh bạ và mẫu</h5>
                    <i
                      class="isax isax-close-circle"
                      onclick="hideContactArea()"
                    ></i>
                  </div>
                  <div class="card-header">
                    <ul>
                      <li
                        :class="{ active: activeIndex ===  0 }"
                        @click="activeIndex = 0"
                      >
                        Danh sách NTH
                      </li>
                      <li
                        :class="{ active: activeIndex ===  1 }"
                        @click="activeIndex = 1"
                      >
                        Gần đây
                      </li>
                      <li
                        :class="{ active: activeIndex ===  2 }"
                        @click="activeIndex = 2"
                      >
                        Mẫu lưu
                      </li>
                    </ul>
                  </div>
                  <div class="card-body" v-if="activeIndex ===  0">
                    <div class="input-search">
                      <i class="isax isax-search-normal-1"></i>
                      <input
                        placeholder="Tìm kiếm danh bạ"
                        class="form-control"
                      />
                    </div>
                    <div class="contact-list">
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/icons/logo-dark.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">VRB</div>
                        </div>
                      </div>
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/images/banks/tpb.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">TIEN PHONG BANK</div>
                        </div>
                      </div>
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/images/banks/vcb.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">TIEN PHONG BANK</div>
                        </div>
                      </div>
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/images/banks/vpb.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">TIEN PHONG BANK</div>
                        </div>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-third col-lg-12 mx-auto"
                    >
                      Quản lý danh bạ và mẫu
                    </button>
                  </div>
                  <div class="card-body" v-if="activeIndex ===  1">
                    <div class="input-search">
                      <i class="isax isax-search-normal-1"></i>
                      <input
                        placeholder="Tìm kiếm danh bạ"
                        class="form-control"
                      />
                    </div>
                    <div class="contact-list">
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/icons/logo-dark.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">VRB</div>
                        </div>
                      </div>
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/images/banks/tpb.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">TIEN PHONG BANK</div>
                        </div>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-third col-lg-12 mx-auto"
                    >
                      Quản lý danh bạ và mẫu
                    </button>
                  </div>
                  <div class="card-body" v-if="activeIndex ===  2">
                    <div class="input-search">
                      <i class="isax isax-search-normal-1"></i>
                      <input
                        placeholder="Tìm kiếm danh bạ"
                        class="form-control"
                      />
                    </div>
                    <div class="contact-list">
                      <div class="contact-item">
                        <div class="contact-bank">
                          <img src="assets/icons/logo-dark.svg" />
                        </div>
                        <div class="contact-detail">
                          <b>NGO MAI TRANG</b>
                          <b>05000210000471</b>
                          <div class="text-muted">VRB</div>
                        </div>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-third col-lg-12 mx-auto"
                    >
                      Quản lý danh bạ và mẫu
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="sp-contact" onclick="showContactArea()">
            <img src="assets/icons/book.svg" />
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer-container">
          <div class="footer-menu d-lg-flex flex-column gap-1">
            <ul>
              <li><a href="#">Hướng dẫn giao dịch an toàn</a></li>
              <li><a href="#">Hướng dẫn sử dụng</a></li>
              <li><a href="#">Hướng dẫn kích hoạt soft token</a></li>
            </ul>
            <div class="copyright">
              <span class="copyright-name">
                ©2023 Ngân hàng Liên doanh Việt - Nga
              </span>
              <span class="divider">|</span>
              <span class="copyright-web">www.vrbank.com.vn</span>
            </div>
          </div>
          <div class="sns">
            <a href="#">
              <img src="assets/icons/google-play.svg" alt="google-play" />
            </a>
            <a href="#">
              <img src="assets/icons/fb.svg" alt="fb" />
            </a>
            <a href="#">
              <img src="assets/icons/appstore-fill.svg" alt="appstore" />
            </a>
            <a class="hotline">
              <img src="assets/icons/call.svg" alt="hotline" />
              <div class="d-flex flex-column">
                <span class="title"> Hotline </span>
                <span class="phone"> 18006656 </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- App js -->
    <script src="assets/js/app.js"></script>

    <!-- BS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script>
      toggleContactArea();

      window.addEventListener("resize", toggleContactArea);

      function toggleContactArea() {
        if (window.innerWidth < 576) {
          hideContactArea();
        } else {
          showContactArea();
        }
      }

      function showContactArea() {
        const contactArea = document.querySelector(".contact-area");
        contactArea.style.display = null;
      }

      function hideContactArea() {
        const contactArea = document.querySelector(".contact-area");
        contactArea.style.display = "none";
      }
    </script>

    <script src="./assets/js/vue@3.3.4_dist_vue.global.js"></script>
    <script src="./assets/js/vueuse_shared.min.js"></script>
    <script src="./assets//js/vueuse_core.js"></script>

    <script>
      const { createApp, ref, computed, onMounted, onBeforeMount } = Vue;
      const { useDebounceFn } = VueUse;

      createApp({
        setup() {
          const showSelector = ref(false);
          const popup = ref(null);
          const bankSelected = ref(null);
          const searchQuery = ref("");
          const activeIndex = ref(0);
          const accountNumber = ref(null);
          const accountName = ref(null);

          const accountList = [
            {
              logo: "assets/images/banks/vrb.svg",
              name: "VRB",
              number: "22118501567455",
            },
            {
              logo: "assets/images/banks/vrb.svg",
              name: "VRB",
              number: "12341234423423",
            },
          ];

          const filteredList = computed(() =>
            accountList.filter((x) =>
              x.number.toLowerCase().includes(searchQuery.value.toLowerCase())
            )
          );

          const onClickOutside = (event) => {
            const el = document.querySelector(".bank-select");
            if (
              !el ||
              el === event.target ||
              event.target.closest(".bank-select") === el
            ) {
              return;
            }

            showSelector.value = false;
          };

          onMounted(() => {
            document.addEventListener("click", onClickOutside);
          });

          onBeforeMount(() => {
            document.removeEventListener("click", onClickOutside);
          });

          const onAccountNumberChange = useDebounceFn(() => {
            accountName.value = accountNumber.value ? "Ngo Xuan Hai" : "";
          }, 500);

          return {
            searchQuery,
            showSelector,
            popup,
            accountList,
            filteredList,
            bankSelected,
            activeIndex,
            accountNumber,
            accountName,
            onAccountNumberChange,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
