<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Đổi hạn mức giao dịch | VRB</title>
    <meta name="viewport" content="width=375, initial-scale=1.0" />
    <meta content="VRB" name="description" />
    <meta content="VRB" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- Bootstrap Css -->
    <link
      href="assets/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App Css-->
    <link
      href="assets/css/app.css"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/transfer.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="child-page page-background setting-transaction-limit-page">
    <div id="loading"></div>
    <div id="app" class="page-content">
      <div class="list-small-icons">
        <div class="item">
          <img src="assets/icons/dollar-circle.svg" alt="dollar-circle" />
        </div>
        <div class="item">
          <img src="assets/icons/map.svg" alt="map" />
        </div>
        <div class="item">
          <img src="assets/icons/message-question.svg" alt="message-question" />
        </div>
      </div>

      <header-component></header-component>

      <menu-component></menu-component>

      <div class="page-background">
        <img src="assets/images/cliparts/bg-right.svg" alt="bg-right" />
      </div>

      <div class="container home-container">
        <div class="breadcrumbs">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="home.html">
                  <i class="isax isax-home-2"></i>
                  Trang chủ
                </a>
              </li>
              <li class="breadcrumb-item" aria-current="page">Cài đặt</li>
              <li class="breadcrumb-item active" aria-current="page">
                Đổi hạn mức giao dịch
              </li>
            </ol>
          </nav>
        </div>

        <div class="page-title">
          <a class="back" href="home.html">
            <i class="isax isax-arrow-left-2"></i>
          </a>
          <h2>Đổi hạn mức giao dịch</h2>
        </div>

        <div class="transaction-step">
          <div class="step-item active">
            <div class="step">1</div>
            <div class="text">Nhập thông tin</div>
          </div>
          <div class="progress"></div>
          <div class="step-item">
            <div class="step">2</div>
            <div class="text">Xác nhận</div>
          </div>
          <div class="progress"></div>
          <div class="step-item">
            <div class="step">3</div>
            <div class="text">Kết quả</div>
          </div>
        </div>

        <div
          class="card content-min-height card-scroll setting-transaction-limit-content"
        >
          <div class="card-body card-content p-0">
            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block1.collapsed}"
            >
              <div
                class="title"
                @click="data.block1.collapsed = !data.block1.collapsed"
              >
                Nội bộ VRB cùng chủ
                <i class="isax isax-arrow-right-3"></i>
              </div>
              <div class="row" v-show="data.block1.collapsed">
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block1.input.field1"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block1.input.field2"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block1.input.field4"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block2.collapsed}"
            >
              <div
                class="title"
                @click="data.block2.collapsed = !data.block2.collapsed"
              >
                Nội bộ VRB khách chủ
                <i class="isax isax-arrow-right-3"></i>
              </div>
              <div class="row" v-show="data.block2.collapsed">
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block2.input.field1"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block2.input.field2"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block2.input.field4"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block3.collapsed}"
            >
              <div
                class="title"
                @click="data.block3.collapsed = !data.block3.collapsed"
              >
                Ngoài VRB đến số tài khoản
                <i class="isax isax-arrow-right-3"></i>
              </div>
              <div class="row" v-show="data.block3.collapsed">
                <div class="col-12 sub-title">Chuyển nhanh 24/7</div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field1"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field2"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field4"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>

              <div class="row mt-2" v-show="data.block3.collapsed">
                <div class="col-12 sub-title">Chuyển thường</div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field5"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field6"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field8"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block4.collapsed}"
            >
              <div
                class="title"
                @click="data.block4.collapsed = !data.block4.collapsed"
              >
                Ngoài VRB đến số tài thẻ (24/7)
                <i class="isax isax-arrow-right-3"></i>
              </div>
              <div class="row" v-show="data.block4.collapsed">
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block4.input.field1"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block4.input.field2"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block4.input.field4"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block8.collapsed}"
            >
              <div
                class="title"
                @click="data.block8.collapsed = !data.block8.collapsed"
              >
                Chuyển tiền qua QR code
                <i class="isax isax-arrow-right-3"></i>
              </div>
              <div class="row" v-show="data.block8.collapsed">
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block8.input.field1"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block8.input.field2"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block8.input.field4"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block9.collapsed}"
            >
              <div
                class="title"
                @click="data.block9.collapsed = !data.block9.collapsed"
              >
                Chuyển tiền theo lô
                <i class="isax isax-arrow-right-3"></i>
              </div>
              <div class="row" v-show="data.block9.collapsed">
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block9.input.field1"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block9.input.field2"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block9.input.field4"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block5.collapsed}"
            >
              <div
                class="title"
                @click="data.block5.collapsed = !data.block5.collapsed"
              >
                Chuyển tiền quốc tế
                <i class="isax isax-arrow-right-3"></i>
              </div>
              <div class="row" v-show="data.block5.collapsed">
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block5.input.field1"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block5.input.field2"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block5.input.field4"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block6.collapsed}"
            >
              <div
                class="title"
                @click="data.block6.collapsed = !data.block6.collapsed"
              >
                Tiền gửi trực tuyến
                <i class="isax isax-arrow-right-3"></i>
              </div>
              <div class="row" v-show="data.block6.collapsed">
                <div class="col-12 sub-title">Tiền gửi có kỳ hạn</div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field1"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field2"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field3"
                      />
                      <label for="account_number"> Số lần tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field4"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>

              <div class="row mt-2" v-show="data.block6.collapsed">
                <div class="col-12 sub-title">Tiền gửi tích lũy</div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field5"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field6"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field8"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>

              <div class="row mt-2" v-show="data.block6.collapsed">
                <div class="col-12 sub-title">Chửng chỉ tiền gửi</div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field9"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field10"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field11"
                      />
                      <label for="account_number"> Số lần tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field12"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block7.collapsed}"
            >
              <div
                class="title"
                @click="data.block7.collapsed = !data.block7.collapsed"
              >
                Bán ngoại tệ
                <i class="isax isax-arrow-right-3"></i>
              </div>
              <div class="row" v-show="data.block7.collapsed">
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block7.input.field1"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block7.input.field2"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block7.input.field4"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block10.collapsed}"
            >
              <div
                class="title"
                @click="data.block10.collapsed = !data.block10.collapsed"
              >
                Thanh toán trực tuyến
                <i class="isax isax-arrow-right-3"></i>
              </div>
              <div class="row" v-show="data.block10.collapsed">
                <div class="col-12 sub-title">Thanh toán hóa đơn</div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field1"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field2"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field4"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>

              <div class="row mt-2" v-show="data.block10.collapsed">
                <div class="col-12 sub-title">
                  Nạp tiền điện thoải trả trước
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field5"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field6"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field8"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>

              <div class="row mt-2" v-show="data.block10.collapsed">
                <div class="col-12 sub-title">QR trong nước</div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field9"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field10"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field12"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>

              <div class="row mt-2" v-show="data.block10.collapsed">
                <div class="col-12 sub-title">QR quốc tế</div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field13"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field14"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field16"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>

              <div class="row mt-2" v-show="data.block10.collapsed">
                <div class="col-12 sub-title">DAWACO</div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field17"
                      />
                      <label for="account_number"> Số tiền tối đa/lần* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">Hạn mức tối thiểu 1,000</div>
                </div>
                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field18"
                      />
                      <label for="account_number"> Số lần tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">lần</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>

                <div class="col-12 col-md-4 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block10.input.field20"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày* </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                  <div class="recommended-limit">
                    Hạn mức tối thiểu 50,000,000
                  </div>
                </div>
              </div>
            </div>

            <div class="group-button-bottom">
              <button class="btn btn-primary btn-back">Thiết lập lại</button>

              <button
                class="btn btn-third btn-submit"
                onclick="location.href = 'setting-transaction-limit-step-2.html';"
              >
                Tiếp tục
              </button>
            </div>
          </div>
        </div>

        <div class="footer footer-responsive-height">
          <div class="footer-container">
            <div class="footer-menu d-lg-flex flex-column gap-1">
              <ul>
                <li><a href="#">Hướng dẫn giao dịch an toàn</a></li>
                <li><a href="#">Hướng dẫn sử dụng</a></li>
                <li><a href="#">Hướng dẫn kích hoạt soft token</a></li>
              </ul>
              <div class="copyright">
                <span class="copyright-name">
                  ©2023 Ngân hàng Liên doanh Việt - Nga
                </span>
                <span class="divider">|</span>
                <span class="copyright-web">www.vrbank.com.vn</span>
              </div>
            </div>
            <div class="sns">
              <a href="#">
                <img src="assets/icons/google-play.svg" alt="google-play" />
              </a>
              <a href="#">
                <img src="assets/icons/fb.svg" alt="fb" />
              </a>
              <a href="#">
                <img src="assets/icons/appstore-fill.svg" alt="appstore" />
              </a>
              <a class="hotline">
                <img src="assets/icons/call.svg" alt="hotline" />
                <div class="d-flex flex-column">
                  <span class="title"> Hotline </span>
                  <span class="phone"> 18006656 </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer-container">
          <div class="footer-menu d-lg-flex flex-column gap-1">
            <ul>
              <li><a href="#">Hướng dẫn giao dịch an toàn</a></li>
              <li><a href="#">Hướng dẫn sử dụng</a></li>
              <li><a href="#">Hướng dẫn kích hoạt soft token</a></li>
            </ul>
            <div class="copyright">
              <span class="copyright-name">
                ©2023 Ngân hàng Liên doanh Việt - Nga
              </span>
              <span class="divider">|</span>
              <span class="copyright-web">www.vrbank.com.vn</span>
            </div>
          </div>
          <div class="sns">
            <a href="#">
              <img src="assets/icons/google-play.svg" alt="google-play" />
            </a>
            <a href="#">
              <img src="assets/icons/fb.svg" alt="fb" />
            </a>
            <a href="#">
              <img src="assets/icons/appstore-fill.svg" alt="appstore" />
            </a>
            <a class="hotline">
              <img src="assets/icons/call.svg" alt="hotline" />
              <div class="d-flex flex-column">
                <span class="title"> Hotline </span>
                <span class="phone"> 18006656 </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- App js -->
    <script src="assets/js/app.js"></script>

    <!-- BS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="./assets/js/vue@3.3.4_dist_vue.global.js"></script>
    <script src="./assets/js/vueuse_shared.min.js"></script>
    <script src="./assets//js/vueuse_core.js"></script>

    <script src="./components/header-component.js"></script>
    <script src="./components/menu.js"></script>

    <script>
      hideLoading();
      const {
        createApp,
        ref,
        computed,
        onMounted,
        reactive,
        onBeforeMount,
        getCurrentInstance,
      } = Vue;
      const { useDebounceFn } = VueUse;

      createApp({
        components: {
          headerComponent,
          menuComponent,
        },
        setup() {
          const initData = {
            block1: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block2: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block3: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
                field5: "",
                field6: "",
                field7: "",
                field8: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block4: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block5: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block6: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
                field5: "",
                field6: "",
                field7: "",
                field8: "",
                field9: "",
                field10: "",
                field11: "",
                field12: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block7: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block8: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block9: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block10: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
                field5: "",
                field6: "",
                field7: "",
                field8: "",
                field9: "",
                field10: "",
                field11: "",
                field12: "",
                field13: "",
                field14: "",
                field15: "",
                field16: "",
                field17: "",
                field18: "",
                field19: "",
                field20: "",
              },
              isEdit: false,
              collapsed: false,
            },
          };

          const data = reactive({ ...initData });

          const showGlobalSearch = ref(false);
          const searchGlobalQuery = ref("");

          const featureList = [
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/loan-amount.svg",
              text: "Cài đặt hạn mức",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/pay-bills.svg",
              text: "Thanh toán hoá đơn",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/recharge.svg",
              text: "Đăng ký hạn mức",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/loyal-customer.svg",
              text: "Chuyển tiền quốc tế",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/account-number.svg",
              text: "Quản lý chi tiêu",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/censorship.svg",
              text: "Quản lý danh bạ",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/statement.svg",
              text: "Sao kê tài khoản",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/transfer-money.svg",
              text: "Smart Kids",
            },
          ];

          const filteredList = computed(() => {
            const searchQuery = searchGlobalQuery.value.toLowerCase();
            const filteredItems = featureList.filter((x) =>
              x.text.toLowerCase().includes(searchQuery)
            );
            return filteredItems.slice(0, 4);
          });

          const onClickOutside = (event) => {
            const el = document.querySelector(".feature-select");
            if (
              !el ||
              el === event.target ||
              event.target.closest(".feature-select") === el
            ) {
              return;
            }

            showGlobalSearch.value = false;
          };

          onMounted(() => {
            document.addEventListener("click", onClickOutside);
          });

          onBeforeMount(() => {
            document.removeEventListener("click", onClickOutside);
          });

          return {
            data,
            showGlobalSearch,
            searchGlobalQuery,
            filteredList,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
