<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Cài đặt hạn mức giao dịch | VRB</title>
    <meta name="viewport" content="width=375, initial-scale=1.0" />
    <meta content="VRB" name="description" />
    <meta content="VRB" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- Bootstrap Css -->
    <link
      href="assets/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App Css-->
    <link
      href="assets/css/app.css"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/transfer.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="child-page page-background setting-transaction-limit-page">
    <div id="app" class="page-content">
      <div class="list-small-icons">
        <div class="item">
          <img src="assets/icons/dollar-circle.svg" alt="dollar-circle" />
        </div>
        <div class="item">
          <img src="assets/icons/map.svg" alt="map" />
        </div>
        <div class="item">
          <img src="assets/icons/message-question.svg" alt="message-question" />
        </div>
      </div>

      <header-component></header-component>

      <menu-component></menu-component>

      <div class="page-background">
        <img src="assets/images/cliparts/bg-right.svg" alt="bg-right" />
      </div>

      <div class="container home-container">
        <div class="transaction-step">
          <div class="step-item active">
            <div class="step">1</div>
            <div class="text">Nhập thông tin</div>
          </div>
          <div class="progress"></div>
          <div class="step-item">
            <div class="step">2</div>
            <div class="text">Xác nhận</div>
          </div>
          <div class="progress"></div>
          <div class="step-item">
            <div class="step">3</div>
            <div class="text">Kết quả</div>
          </div>
        </div>

        <div class="card card-scroll setting-transaction-limit-content">
          <div class="card-body card-content p-3">
            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block1.collapsed}"
            >
              <div class="title">
                Nội bộ VRB cùng chủ
                <i
                  class="isax isax-arrow-down-1"
                  @click="data.block1.collapsed = !data.block1.collapsed"
                ></i>
              </div>
              <div class="row" v-show="data.block1.isEdit">
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block1.input.field1"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối thiểu/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block1.input.field2"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối đa/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block1.input.field3"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số lần tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block1.input.field4"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>

                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block1.isEdit = false"
                  >
                    Lưu
                  </button>
                </div>
              </div>

              <div class="row" v-show="!data.block1.isEdit">
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối thiểu/lần: {{ data.block1.input.field1 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối đa/lần: {{ data.block1.input.field2 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số lần tối đa/ngày: {{ data.block1.input.field3 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số tiền tối đa/ngày: {{ data.block1.input.field4 | 0 }}
                </div>
                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block1.isEdit = true"
                  >
                    Chỉnh sửa
                  </button>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block2.collapsed}"
            >
              <div class="title">
                Nội bộ VRB khách chủ
                <i
                  class="isax isax-arrow-down-1"
                  @click="data.block2.collapsed = !data.block2.collapsed"
                ></i>
              </div>
              <div class="row" v-show="data.block2.isEdit">
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block2.input.field1"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối thiểu/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block2.input.field2"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối đa/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block2.input.field3"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số lần tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block2.input.field4"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>

                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block2.isEdit = false"
                  >
                    Lưu
                  </button>
                </div>
              </div>

              <div class="row" v-show="!data.block2.isEdit">
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối thiểu/lần: {{ data.block2.input.field1 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối đa/lần: {{ data.block2.input.field2 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số lần tối đa/ngày: {{ data.block2.input.field3 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số tiền tối đa/ngày: {{ data.block2.input.field4 | 0 }}
                </div>
                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block2.isEdit = true"
                  >
                    Chỉnh sửa
                  </button>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block3.collapsed}"
            >
              <div class="title">
                Ngoài VRB đến số tài khoản
                <i
                  class="isax isax-arrow-down-1"
                  @click="data.block3.collapsed = !data.block3.collapsed"
                ></i>
              </div>
              <div class="row" v-show="data.block3.isEdit">
                <div class="col-12 sub-title">Chuyển nhanh 24/7</div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field1"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối thiểu/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field2"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối đa/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field3"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số lần tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field4"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-2" v-show="data.block3.isEdit">
                <div class="col-12 sub-title">Chuyển thường</div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field5"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối thiểu/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field6"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối đa/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field7"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số lần tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block3.input.field8"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>

                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block3.isEdit = false"
                  >
                    Lưu
                  </button>
                </div>
              </div>

              <div class="row" v-show="!data.block3.isEdit">
                <h6 class="mt-2">Chuyển nhanh 24/7</h6>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối thiểu/lần: {{ data.block3.input.field1 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối đa/lần: {{ data.block3.input.field2 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số lần tối đa/ngày: {{ data.block3.input.field3 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số tiền tối đa/ngày: {{ data.block3.input.field4 | 0 }}
                </div>

                <h6 class="mt-2">Chuyển thường</h6>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối thiểu/lần: {{ data.block3.input.field5 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối đa/lần: {{ data.block3.input.field6 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số lần tối đa/ngày: {{ data.block3.input.field7 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số tiền tối đa/ngày: {{ data.block3.input.field8 | 0 }}
                </div>
                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block3.isEdit = true"
                  >
                    Chỉnh sửa
                  </button>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block4.collapsed}"
            >
              <div class="title">
                Ngoài VRB đến số tài thẻ (24/7)
                <i
                  class="isax isax-arrow-down-1"
                  @click="data.block4.collapsed = !data.block4.collapsed"
                ></i>
              </div>
              <div class="row" v-show="data.block4.isEdit">
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block4.input.field1"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối thiểu/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block4.input.field2"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối đa/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block4.input.field3"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số lần tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block4.input.field4"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>

                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block4.isEdit = false"
                  >
                    Lưu
                  </button>
                </div>
              </div>

              <div class="row" v-show="!data.block4.isEdit">
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối thiểu/lần: {{ data.block4.input.field1 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối đa/lần: {{ data.block4.input.field2 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số lần tối đa/ngày: {{ data.block4.input.field3 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số tiền tối đa/ngày: {{ data.block4.input.field4 | 0 }}
                </div>
                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block4.isEdit = true"
                  >
                    Chỉnh sửa
                  </button>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block5.collapsed}"
            >
              <div class="title">
                Chuyển tiền quốc tế
                <i
                  class="isax isax-arrow-down-1"
                  @click="data.block5.collapsed = !data.block5.collapsed"
                ></i>
              </div>
              <div class="row" v-show="data.block5.isEdit">
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block5.input.field1"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối thiểu/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block5.input.field2"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối đa/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block5.input.field3"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số lần tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block5.input.field4"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>

                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block5.isEdit = false"
                  >
                    Lưu
                  </button>
                </div>
              </div>

              <div class="row" v-show="!data.block5.isEdit">
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối thiểu/lần: {{ data.block5.input.field1 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối đa/lần: {{ data.block5.input.field2 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số lần tối đa/ngày: {{ data.block5.input.field3 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số tiền tối đa/ngày: {{ data.block5.input.field4 | 0 }}
                </div>
                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block5.isEdit = true"
                  >
                    Chỉnh sửa
                  </button>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block6.collapsed}"
            >
              <div class="title">
                Tiền gửi trực tuyến
                <i
                  class="isax isax-arrow-down-1"
                  @click="data.block6.collapsed = !data.block6.collapsed"
                ></i>
              </div>
              <div class="row" v-show="data.block6.isEdit">
                <div class="col-12 sub-title">Tiền gửi có kỳ hạn</div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field1"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối thiểu/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field2"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối đa/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field3"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số lần tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field4"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-2" v-show="data.block6.isEdit">
                <div class="col-12 sub-title">Tiền gửi tích lũy</div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field5"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối thiểu/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field6"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối đa/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field7"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số lần tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field8"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-2" v-show="data.block6.isEdit">
                <div class="col-12 sub-title">Chửng chỉ tiền gửi</div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field9"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối thiểu/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field10"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối đa/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field11"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số lần tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block6.input.field12"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>

                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block6.isEdit = false"
                  >
                    Lưu
                  </button>
                </div>
              </div>

              <div class="row" v-show="!data.block6.isEdit">
                <h6 class="mt-2">Tiền gửi có kỳ hạn</h6>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối thiểu/lần: {{ data.block6.input.field1 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối đa/lần: {{ data.block6.input.field2 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số lần tối đa/ngày: {{ data.block6.input.field3 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số tiền tối đa/ngày: {{ data.block6.input.field4 | 0 }}
                </div>

                <h6 class="mt-2">Tiền gửi tích lũy</h6>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối thiểu/lần: {{ data.block6.input.field5 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối đa/lần: {{ data.block6.input.field6 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số lần tối đa/ngày: {{ data.block6.input.field7 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số tiền tối đa/ngày: {{ data.block6.input.field8 | 0 }}
                </div>

                <h6 class="mt-2">Chửng chỉ tiền gửi</h6>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối thiểu/lần: {{ data.block6.input.field9 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối đa/lần: {{ data.block6.input.field10 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số lần tối đa/ngày: {{ data.block6.input.field11 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số tiền tối đa/ngày: {{ data.block6.input.field12 | 0 }}
                </div>
                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block6.isEdit = true"
                  >
                    Chỉnh sửa
                  </button>
                </div>
              </div>
            </div>

            <div
              class="card transaction-limit-card"
              :class="{'collapsed': data.block7.collapsed}"
            >
              <div class="title">
                Bán ngoại tệ
                <i
                  class="isax isax-arrow-down-1"
                  @click="data.block7.collapsed = !data.block7.collapsed"
                ></i>
              </div>
              <div class="row" v-show="data.block7.isEdit">
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block7.input.field1"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối thiểu/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block7.input.field2"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Tối đa/lần </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block7.input.field3"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số lần tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  <div class="input-group label-transition">
                    <div class="form-label">
                      <input
                        type="number"
                        class="form-control fw-bold"
                        v-model="data.block7.input.field4"
                        :class="{'pointer-events-none': isPreview}"
                      />
                      <label for="account_number"> Số tiền tối đa/ngày </label>
                    </div>
                    <div class="input-group-append">
                      <div class="input-group-text">VND</div>
                    </div>
                  </div>
                </div>

                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block7.isEdit = false"
                  >
                    Lưu
                  </button>
                </div>
              </div>

              <div class="row" v-show="!data.block7.isEdit">
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối thiểu/lần: {{ data.block7.input.field1 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Tối đa/lần: {{ data.block7.input.field2 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số lần tối đa/ngày: {{ data.block7.input.field3 | 0 }}
                </div>
                <div class="col-12 col-md-6 col-lg-3 mt-3">
                  Số tiền tối đa/ngày: {{ data.block7.input.field4 | 0 }}
                </div>
                <div class="block-action">
                  <button
                    class="btn btn-third"
                    @click="data.block7.isEdit = true"
                  >
                    Chỉnh sửa
                  </button>
                </div>
              </div>
            </div>

            <div class="group-button-bottom">
              <button
                class="btn btn-primary btn-back"
                onclick="location.href = 'home.html';"
              >
                Quay lại
              </button>

              <button class="btn btn-third btn-submit">Thiết lập lại</button>

              <button class="btn btn-third btn-submit">Đổi hạn mức</button>

              <button
                class="btn btn-third btn-submit"
                onclick="location.href = 'setting-transaction-limit-step-2.html';"
              >
                Tiếp tục
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer-container">
          <div class="footer-menu d-lg-flex flex-column gap-1">
            <ul>
              <li><a href="#">Hướng dẫn giao dịch an toàn</a></li>
              <li><a href="#">Hướng dẫn sử dụng</a></li>
              <li><a href="#">Hướng dẫn kích hoạt soft token</a></li>
            </ul>
            <div class="copyright">
              <span class="copyright-name">
                ©2023 Ngân hàng Liên doanh Việt - Nga
              </span>
              <span class="divider">|</span>
              <span class="copyright-web">www.vrbank.com.vn</span>
            </div>
          </div>
          <div class="sns">
            <a href="#">
              <img src="assets/icons/google-play.svg" alt="google-play" />
            </a>
            <a href="#">
              <img src="assets/icons/fb.svg" alt="fb" />
            </a>
            <a href="#">
              <img src="assets/icons/appstore-fill.svg" alt="appstore" />
            </a>
            <a class="hotline">
              <img src="assets/icons/call.svg" alt="hotline" />
              <div class="d-flex flex-column">
                <span class="title"> Hotline </span>
                <span class="phone"> 18006656 </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- App js -->
    <script src="assets/js/app.js"></script>

    <!-- BS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="./assets/js/vue@3.3.4_dist_vue.global.js"></script>
    <script src="./assets/js/vueuse_shared.min.js"></script>
    <script src="./assets//js/vueuse_core.js"></script>

    <script src="./components/header-component.js"></script>
    <script src="./components/menu.js"></script>

    <script>
      const { createApp, ref, computed, onMounted, reactive, onBeforeMount } =
        Vue;
      const { useDebounceFn } = VueUse;

      createApp({
        components: {
          headerComponent,
          menuComponent,
        },
        setup() {
          const isPreview = ref(false);

          const data = reactive({
            block1: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block2: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block3: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
                field5: "",
                field6: "",
                field7: "",
                field8: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block4: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block5: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block6: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
                field5: "",
                field6: "",
                field7: "",
                field8: "",
                field9: "",
                field10: "",
                field11: "",
                field12: "",
              },
              isEdit: false,
              collapsed: false,
            },
            block7: {
              input: {
                field1: "",
                field2: "",
                field3: "",
                field4: "",
              },
              isEdit: false,
              collapsed: false,
            },
          });

          const showGlobalSearch = ref(false);
          const searchGlobalQuery = ref("");

          const featureList = [
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/loan-amount.svg",
              text: "Cài đặt hạn mức",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/pay-bills.svg",
              text: "Thanh toán hoá đơn",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/recharge.svg",
              text: "Đăng ký hạn mức",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/loyal-customer.svg",
              text: "Chuyển tiền quốc tế",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/account-number.svg",
              text: "Quản lý chi tiêu",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/censorship.svg",
              text: "Quản lý danh bạ",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/statement.svg",
              text: "Sao kê tài khoản",
            },
            {
              url: "transfer-inter.html",
              image: "assets/images/feature/transfer-money.svg",
              text: "Smart Kids",
            },
          ];

          const filteredList = computed(() => {
            const searchQuery = searchGlobalQuery.value.toLowerCase();
            const filteredItems = featureList.filter((x) =>
              x.text.toLowerCase().includes(searchQuery)
            );
            return filteredItems.slice(0, 4);
          });

          const onClickOutside = (event) => {
            const el = document.querySelector(".feature-select");
            if (
              !el ||
              el === event.target ||
              event.target.closest(".feature-select") === el
            ) {
              return;
            }

            showGlobalSearch.value = false;
          };

          onMounted(() => {
            document.addEventListener("click", onClickOutside);
          });

          onBeforeMount(() => {
            document.removeEventListener("click", onClickOutside);
          });

          return {
            isPreview,
            data,
            showGlobalSearch,
            searchGlobalQuery,
            filteredList,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
