.account-detail-page .contact-area .input-search {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  position: relative;
}

.account-detail-page .contact-area .input-search input {
  width: 100%;
}

.account-detail-page .contact-area .input-search .isax {
  font-size: 16px;
  color: #777777;
  position: absolute;
  left: 12px;
}

.account-detail-page .contact-area .input-search .form-control {
  font-size: 12px;
  line-height: 16px;
  border-radius: 8px;
  padding: 9px 12px 9px 38px;
}

.contact-area .input-search .form-control::placeholder {
  color: var(--text-secondary-note, #777);
}

.account-detail-page .home-container {
  margin: 100px auto !important;
}

.account-detail-page .nav-tabs {
  justify-content: space-between;
  border-radius: 12px 12px 0px 0px;
  border-bottom: 1px solid #e0e0e0;
  background: #f4f7fe !important;
}

.account-detail-page .nav-tabs .nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #777;
  border: unset;
  width: 33.33%;
  padding: 16px;
}

.account-detail-page .nav-tabs .nav-link.active {
  color: #002d85;
  font-weight: 600;
  border-bottom: 2px solid #002d85;
  background: unset;
}

.account-detail-page .account-histories {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
}

.account-detail-page .account-histories .history-item {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  border-bottom: 1px solid #d9d9d9;
}

.account-detail-page .account-histories .history-item .info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.account-detail-page .account-histories .history-item:hover {
  background: var(--background-background-1, #f4f7fe);
}

.account-detail-page .account-histories .history-item .transfer-time {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #777;
  text-align: right;
}

.account-detail-page .account-histories .history-item .code {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #777;
}

.account-detail-page .account-histories .history-item .message {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #333;
  cursor: pointer;
}

.account-detail-page .account-histories .history-item:hover .message {
  text-decoration-line: underline;
  color: #002d85;
}

.account-detail-page .account-histories .history-item .bill {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  width: 140px;
}

.account-detail-page .account-histories .history-item .bill .money {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #002d85;
}

.account-detail-page .account-histories .history-item .bill .money.red {
  color: #ed1c24;
}

.account-detail-page .account-histories .history-item .icon {
  width: 20px;
}

.account-detail-page .account-histories .history-item .icon i {
  font-size: 16px;
  cursor: pointer;
  color: #002d85;
}

.account-detail-page .account-card {
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  background: linear-gradient(90deg, #19226d 23.6%, #ed1c24 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  scale: 1.01;
}

.account-detail-page .account-card .account-number {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.account-detail-page .account-border {
  border-radius: 12px;
  border: 1px solid #e0e0e0;
}

.account-detail-page .account-card i {
  opacity: 0.4000000059604645;
  font-size: 40px;
  color: white;
}

.account-detail-page .card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.account-detail-page .card-info .info-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.account-detail-page .card-info .info-item .title {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.account-detail-page .card-info .info-item .title.bold {
  font-weight: 600;
}

.account-detail-page .card-info .info-item .info {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.account-detail-page .card-info .info-item .info.bold {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.account-detail-page .account-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 16px;
  padding: 16px;
}

.account-detail-page .account-info .info-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 4px;
}

.account-detail-page .account-info .title {
  font-size: 14px;
  line-height: 18px;
  color: #777;
  font-weight: 500;
  padding-top: 0;
}

.account-detail-page .account-info .info {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
  text-align: right;
}

.account-detail-page .action {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.account-detail-page .action .default-account {
  color: #19191b;
  width: 100%;
  font-size: 14px;
}

.account-detail-page .action .default-account .form-check-input {
  width: 16px;
  height: 16px;
}

.account-detail-page .action .default-account .form-check-label {
  transform: translateY(3px);
  display: block;
  padding-left: 8px;
}

.account-detail-page .action .transfer {
  padding-left: 4px;
  border-radius: 8px;
  background: var(--background-background-1, #f4f7fe);
  width: 100%;
  padding: 10px 8px;
}

.account-detail-page .action .transfer span {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #002d85;
  padding-left: 8px;
  cursor: pointer;
}

.account-detail-page .action .transfer span:hover {
  text-decoration: underline;
}

.account-detail-page .input-range {
  display: flex;
  align-items: center;
}

.account-detail-page .input-range .form-control {
  width: 40%;
}

.account-detail-page .input-range label {
  width: 16%;
  line-height: 30px;
  margin-bottom: 0;
}

.account-detail-page .input-range span {
  width: 5%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-detail-page .btn-export-excel {
  width: 180px;
  margin-left: 8px;
}

.account-detail-page .pagination-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-detail-page .title-account-detail {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #333333;
  margin-bottom: 16px;
}

.account-detail-page .card-bg-gray {
  border-radius: 12px;
  background: var(--background-background-2, #fafafa);
  padding: 24px;
  border: 1px solid var(--branding-line, #e9e9e9);
}

.account-detail-page .card-bg-gray .account-info {
  padding: unset !important;
}

.account-detail-page .account-default {
  display: flex;
  align-items: center;
  gap: 8px;
}
.account-detail-page .account-default .form-check-input {
  margin-top: -4px !important;
}

.account-detail-page .card-info .info-item .info button {
  margin-top: 8px;
  padding: 6px 24px !important;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-between;
}

.account-detail-page .card-info .info-item .info button i {
  font-size: 14px;
  color: #002d85;
}

.account-detail-page .action-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.account-detail-page .action-group .btn {
  min-width: 134px;
}

.account-detail-page .action-group .btn img {
  width: 20px;
  height: 20px;
}

.account-detail-page .action-group .pagination {
  margin-bottom: 0;
}

.account-detail-page .action-group .group-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#transfer-detail .modal-content,
#catalog .modal-content {
  border-radius: 12px;
}

#transfer-detail .modal-header .modal-title,
#catalog .modal-header .modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #333333;
}

#transfer-detail .modal-header .close,
#catalog .modal-header .close {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #002d85;
  cursor: pointer;
}

#transfer-detail .modal-body .account-info {
  padding: 8px;
}

#transfer-detail .modal-body .btn-back,
#catalog .modal-body .btn-back {
  border-radius: 12px !important;
  padding: 12px 24px !important;
  width: 100%;
  margin-top: 16px;
}

#catalog .modal-body .catalog-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

#catalog .modal-body .catalog-list .catalog-item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
  transition: 0.5s;
  cursor: pointer;
}

#catalog .modal-body .catalog-list .catalog-item:hover {
  background: var(--background-background-1, #f4f7fe);
  transform: translateY(-4px);
}

#catalog .modal-body .catalog-list .catalog-item .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--background-background-1, #f4f7fe);
  padding: 8px;
}

#catalog .modal-body .catalog-list .catalog-item .icon i {
  font-size: 32px;
}

#catalog .modal-body .catalog-list .catalog-item .title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #777777;
  text-align: center;
}

@media (max-width: 1400px) {
  .account-detail-page .action-group {
    flex-direction: column-reverse;
    gap: 16px;
    padding-bottom: 24px;
  }

  .account-detail-page .action-group .group-button {
    width: 100%;
  }

  .account-detail-page .action-group .btn {
    padding: 8px !important;
    width: 100%;
  }
}

@media (max-width: 1201px) {
  .account-detail-page .input-range .form-control {
    width: 38%;
  }

  .account-detail-page .input-range label {
    width: 19%;
  }

  .account-detail-page .account-info .info-item {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .account-detail-page .input-range .form-control {
    width: 35%;
  }

  .account-detail-page .input-range label {
    width: 25%;
  }

  .account-detail-page .content-detail-page .row {
    flex-direction: column-reverse;
    padding: 8px;
    gap: 16px;
  }

  .account-detail-page .content-detail-page .row .col-12.col-lg-7 {
    padding: 0;
  }

  .account-detail-page .account-info .info-item {
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  .account-detail-page .card-info .info-item .title,
  .account-detail-page .card-info .info-item .info {
    font-size: 14px;
  }

  .account-detail-page .card-info .info-item .info.bold {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .btn-export-excel {
    display: none;
  }

  .account-detail-page .account-histories .history-item .message {
    font-size: 14px;
  }

  .account-detail-page .home-container {
    margin: 90px auto !important;
  }

  #catalog .modal-body .catalog-list .catalog-item .icon {
    width: 32px;
    height: 32px;
    padding: 6px;
  }

  #catalog .modal-body .catalog-list .catalog-item .icon i {
    font-size: 26px;
  }

  .account-detail-page .account-histories .history-item .bill {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .account-detail-page .account-histories .history-item .icon {
    width: 100%;
    padding: 4px;
    text-align: center;
  }

  .account-detail-page .account-histories .history-item {
    flex-direction: column;
    gap: 8px;
    padding: 8px;
  }
}
