.account-number-page .page-card-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
}

.page-content {
  font-size: 14px;
}

.page-content
  :is(.custom-selector-placeholder, .form-control, .form-label label) {
  font-size: 12px !important;
}

.container-flex {
  width: min(100% - 15px, 650px);
  padding: 0 15px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.btn-account-number {
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--white, #fff);
  border-radius: 8px !important;
  background: var(--branding-primary-color, #0c65ce);
}

#account-number-search {
  font-size: 14px;
}

#account-number-search .modal-header {
  padding: 16px 24px;
}

#account-number-search .modal-header .modal-title {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
}

#account-number-search .modal-header .close {
  font-size: 16px;
  color: var(--branding-primary-color, #002d85);
  font-weight: 700;
  cursor: pointer;
}

#account-number-search .modal-body {
  padding: 24px 0;
}

#account-number-search .modal-body .text-notification {
  font-size: 12px;
  color: #787878;
  font-weight: 400;
  line-height: 16px;
  padding: 0 16px !important;
}

#account-number-search .input-search {
  padding: 0 16px !important;
}

#account-number-search .input-search .form-control {
  padding: 12px 40px 12px 12px;
  font-size: 14px;
}

#account-number-search .table thead tr {
  background: #edf3ff;
  color: #333333;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

#account-number-search .table thead tr th {
  color: #333333;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding: 10px 24.5px;
}

#account-number-search .table tbody tr {
  transition: 0.3s;
}

#account-number-search .table tbody tr td {
  text-align: left;
  padding: 10px 36.5px;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #333333;
}

#account-number-search .table tbody tr:hover {
  background: var(--background-background-1, #f4f7fe);
}

#account-number-search .table tbody tr:hover td {
  color: #002d85;
  cursor: pointer;
}

#account-number-search .table .btn-select {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  transition: 0.3s;
  color: #002d85;
}

#account-number-search .input-search.input-reverse {
  position: relative;
}

#account-number-search .input-search.input-reverse .icon-search {
  position: absolute;
  top: 14px;
  right: 24px;
}

#account-number-search .text-result {
  padding: 0 16px;
  margin-top: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #787878;
}

.account-number-page .form-check-input {
  width: 20px;
  height: 20px;
  appearance: auto !important;
  font-size: 0px !important;
  margin-right: 8px !important;
}

.bill-details {
  border-radius: 12px;
  background: var(--background-background-2, #fafafa);
  margin-bottom: 8px;
}

.bill-details dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.bill-details dl dt {
  margin-bottom: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #333333;
}

.bill-details dl dd {
  margin-bottom: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
}

.page-content :is(.btn-third, .btn-back) {
  padding: 12px 48px !important;
  border-radius: 12px !important;
  font-size: 14px;
  font-weight: 700;
}

.account-number-page .phone-number-block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.account-number-page .phone-number-block label {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #333;
  margin-bottom: 0;
}

.account-number-page .phone-number-block .phone-number {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #002d85;
}

.account-number-page .available-balance .text-secondary {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #333333 !important;
}

.account-number-page .available-balance .text-primary {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #002d85 !important;
}

.account-number-page .nice-digital-account {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #333333;
}

.account-number-page .otp-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
}

.account-number-page .otp-description {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #333333;
}
