.account-page .home-container {
  margin: 100px auto !important;
}

.account-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn.btn-collapse {
  width: 32px;
  height: 32px;
  border-radius: 50% !important;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4),
    0px 4px 16px -2px rgba(0, 0, 0, 0.12);
}

.btn.btn-collapse img {
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
  transition: transform 0.5s;
}

.amount_money {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #002d85;
}

.main-content.bg-gray {
  background-color: #fafafa;
}

.account-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.02);
  margin-bottom: 16px !important;
  cursor: pointer;
  border: 1px solid #e9e9e9;
  width: 100%;
  gap: 16px;
}

.account-item:last-child {
  margin-bottom: 0;
}

.account-item:hover {
  border: 1px solid var(--branding-line, #e9e9e9);
  background: var(--background-background-1, #f4f7fe);
}

.account-item .left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  width: 50%;
}

.account-item .left .account-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #333;
}

.account-item .left .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.account-item .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  width: 50%;
}

.account-item .copy {
  cursor: pointer;
}

.account-item .badge {
  display: none;
}

.account-item.active .badge {
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  border-radius: 12px;
  background: #002d85;
}

.account-item .account-number {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}

.account-item .balances {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.account-item .balances .title {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #777;
}

.account-item .balances .money {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
  transform: translateY(2px);
}

.account-page .collapsed-payment-account .header,
.account-page .collapsed-loan-account .header,
.account-page .collapsed-overdraft-account .header,
.account-page .collapsed-deposit-account .header {
  border-radius: 12px !important;
}

.account-page .collapsed-payment-account .header .btn-collapse img,
.account-page .collapsed-loan-account .header .btn-collapse img,
.account-page .collapsed-overdraft-account .header .btn-collapse img,
.account-page .collapsed-deposit-account .header .btn-collapse img {
  transform: rotate(630deg);
}

.collapsed-payment-account .main-content,
.collapsed-loan-account .main-content,
.collapsed-overdraft-account .main-content,
.collapsed-deposit-account .main-content {
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 1s;
  height: 0;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

#nav-tab-account-manager {
  border-radius: 12px;
  background: var(
    --branding-third-gradient,
    linear-gradient(90deg, #19226d 23.6%, #ed1c24 100%)
  );
  justify-content: space-between;
  padding: 6px;
}

#nav-tab-account-manager .nav-link {
  color: #fff;
  background: transparent;
  border: unset;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 25%;
  word-break: keep-all;
}

#nav-tab-account-manager .nav-link.active {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
}

.account-manager-card {
  padding: 24px 16px;
  background: var(--background-background-2, #fafafa) !important;
}

.account-manager-card .main-content {
  padding: unset;
}

.account-manager-card .header {
  border-radius: 12px;
  background: var(--background-background-1, #f4f7fe);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}

.account-manager-card .list-card {
  border-radius: 16px;
  background: var(--background-background-2, #fafafa);
  box-shadow: unset;
}

.account-manager-card #collapsed {
  margin-bottom: unset;
  box-shadow: unset;
}

.deposit-account-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.deposit-account-checkbox .radio-item {
  width: 50%;
}

.deposit-account-checkbox .form-check {
  display: inline-flex !important;
}

.deposit-account-checkbox .form-check .form-check-input {
  width: 20px;
  height: 20px;
}

.deposit-account-checkbox .form-check .form-check-label {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  transform: translateY(2px);
  padding-left: 4px;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .account-item .account-number {
    font-size: 14px;
  }

  .account-item .balances .title {
    font-size: 12px;
  }

  .account-item .balances .money {
    font-size: 14px;
  }

  #nav-tab-account-manager .nav-link {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .home-container .breadcrumbs .breadcrumb {
    gap: 4px;
  }

  .account-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .account-item .right,
  .account-item .left {
    width: 100%;
    justify-content: space-between;
    gap: 8px;
  }

  .account-item .balances {
    align-items: flex-start;
    padding-top: 4px;
  }

  .account-item .copy {
    transform: translateY(28px);
  }

  .account-item .to-detail {
    transform: translateY(-20px);
  }

  .account-page .home-container {
    margin: 90px auto !important;
  }

  #nav-tab-account-manager .nav-link {
    padding: 6px 0;
    font-size: 12px;
  }

  .deposit-account-checkbox {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-bottom: 16px;
  }

  .deposit-account-checkbox .form-check .form-check-label {
    font-size: 14px;
  }

  .deposit-account-checkbox .form-check .form-check-input {
    width: 16px;
    height: 16px;
  }
}
