@import url("./fonts.css");
@import "icons.css";
@import "login-page.css";
@import "before-login-page.css";
@import "home.css";
@import "account-manager.css";
@import "account-manager-detail.css";
@import "transaction-info.css";
@import "transaction-step-1.css";
@import "transaction-step-2.css";
@import "transaction-step-3.css";
@import "pay-pills.css";
@import "direct-transfer-log.css";
@import "setting-transaction-limit-step-1.css";
@import "register-international-money-transfer.css";
@import "international-money-transfer.css";
@import "spending-management.css";
@import "beneficiaries.css";
@import "custom.css";
@import "account-number.css";
@import "vue-datepicker.css";
@import "custom-calendar.css";
@import "input-otp.css";
@import "toast.css";
@import "menu.css";
@import "pagination.css";
@import "common.css";
@import "footer.css";
@import "header.css";
