body {
  color: #202124;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 40px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

/* Text */
.text-primary {
  color: #333333;
}

.text-secondary {
  color: #777777;
}

.text-third {
  color: #bdbdbd;
}

.text-white {
  color: #ececec;
}

.text-link {
  color: #345dd4;
}

.text-right {
  text-align: right !important;
}

/* Background */
.bg-web {
  background-color: #f1f2f2;
}

/* Button */
.btn {
  color: white !important;
  border-radius: 12px !important;
  border: unset;
}

.btn:focus {
  outline: none;
}

.btn-primary {
  background-color: #f4f7fe !important;
  color: #002d85 !important;
  border-radius: 8px !important;
  padding: 8px 16px !important;
  font-size: 14px !important;
}

.btn-primary:hover {
  background-color: #dae0ef !important;
  color: #012772 !important;
}

.btn-primary img {
  margin-left: 8px;
}

.btn-infor {
  background-color: #edf3ff;
}

.btn-success {
  background-color: #12a959;
}

.btn-warning {
  background-color: #ffbd34;
}

.btn-danger {
  background-color: #f2443c;
}

.btn-third {
  padding: 14px 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  transition: 0.7s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #19226d 23.6%,
    #ed1c24 50%,
    #19226d 76.4%
  );
}

.btn-third:hover {
  background-position: right;
}

/* Branding */

.branding-primary {
  background: #002d85;
}

.branding-secondary {
  background: #ed1c24;
}

.branding-third {
  background: linear-gradient(90deg, #19226d 23.6%, #ed1c24 100%);
}

/* Form */
.input-group {
  border: none !important;
  border-bottom: 1px solid #c4c4c6;
  border-radius: unset !important;
}

.input-group .input-group-prepend,
.input-group .input-group-append {
  border-bottom: 1px solid #c4c4c6 !important;
}

.input-group .input-group-prepend .input-group-text,
.input-group .input-group-append .input-group-text {
  background-color: white;
  border: unset !important;
  border-radius: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.input-group .input-group-prepend .input-group-text {
  padding-right: 8px !important;
}

.input-group .input-group-append .input-group-text {
  padding-left: 8px !important;
}

.login-page .form-control {
  border: unset !important;
  border-bottom: 1px solid #c4c4c6 !important;
  border-radius: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 8px 0 !important;
  color: #232e48;
}

.login-page .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #232e48;
  opacity: 1; /* Firefox */
}

.login-page .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}

.cursor-pointer {
  cursor: pointer;
}

.link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #0c65ce;
}

.link:hover {
  opacity: 0.8;
}

.form-label {
  position: relative;
  display: block;
  clear: both;
  margin: 0 auto;
}

.login-page label {
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(50%);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: -16%;
  cursor: text;
  pointer-events: none;
}

.input-text-bold {
  font-weight: bold;
}

.input-text-bold::placeholder {
  font-style: italic;
}

.input-text-bold:not(:placeholder-shown) {
  font-weight: bold;
  font-style: normal;
}

.breadcrumb .breadcrumb-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #dbdbdb;
}

.breadcrumb .breadcrumb-item.active {
  color: #fff;
}

.breadcrumb .breadcrumb-item a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.breadcrumb .breadcrumb-item .isax {
  font-size: 20px;
}

.mt-10 {
  margin-top: 10px !important;
}

input[type="search"] {
  padding: 12px 50px 12px 16px;
  border-radius: 12px;
  border: 1px solid #ced4da;
  outline: none !important;
  font-size: 16px;
  line-height: 20px;
  appearance: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><path d="M9.80444 17.3865C5.40282 17.3865 1.81824 13.8019 1.81824 9.40027C1.81824 4.99865 5.40282 1.41406 9.80444 1.41406C14.2061 1.41406 17.7906 4.99865 17.7906 9.40027C17.7906 13.8019 14.2061 17.3865 9.80444 17.3865ZM9.80444 1.65595C5.52906 1.65595 2.06012 5.13391 2.06012 9.40027C2.06012 13.6666 5.52906 17.1446 9.80444 17.1446C14.0798 17.1446 17.5488 13.6666 17.5488 9.40027C17.5488 5.13391 14.0798 1.65595 9.80444 1.65595Z" fill="%23292D32" stroke="%238F9BB3"/><path d="M15.1741 15.3293L15.1741 15.3293L15.1731 15.3282C15.0784 15.2335 15.0784 15.0701 15.1731 14.9754C15.2677 14.8807 15.4308 14.8806 15.5256 14.975C15.5258 14.9751 15.5259 14.9752 15.526 14.9754L22.3333 21.8224L22.3343 21.8235C22.4291 21.9182 22.4291 22.0816 22.3343 22.1764C22.283 22.2277 22.2224 22.2499 22.1579 22.2499C22.0935 22.2499 22.0331 22.2278 21.9818 22.1768C21.9817 22.1766 21.9816 22.1765 21.9814 22.1764L15.1741 15.3293Z" fill="%238F9BB3" stroke="%238F9BB3"/></svg>');
  background-position: top 12px right 16px;
  background-size: 20px;
  background-repeat: no-repeat;
}

input[type="search"]::-webkit-input-placeholder {
  color: #8f9bb3;
}

.form-check:not(.form-switch) {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.form-check:not(.form-switch) .form-check-input {
  flex-shrink: 0;
  font-size: 1.25em;
  margin: 0;
  appearance: none;
  border-radius: 50%;
  border: 0.125em solid var(--subtle-light, #afb1b6);
  background: var(--white, #fff);
  transition: 0.3s;
  cursor: pointer;
}

.form-check:not(.form-switch) .form-check-input:checked {
  border-color: var(--branding-primary-color, #0c65ce);
  background: var(--branding-primary-color, #0c65ce);
  box-shadow: inset 0 0 0px 0.1875em var(--white, #fff);
}

.form-check:not(.form-switch) .form-check-label {
  line-height: 1.25em;
}

.form-check.form-switch .form-check-input {
  width: 2.5em;
  height: 1.5em;
  padding: 0.25em;
  border-radius: 9999px;
}

.form-check.form-switch .form-check-input:checked {
  background-color: var(--branding-primary-color, #002d85);
}

.input-group.label-transition {
  padding-top: 18px;
}

.input-group.label-transition .form-label {
  flex: 1;
}

.input-group.label-transition input:focus ~ label,
.input-group.label-transition .hascontent ~ label {
  top: -75%;
  color: #777;
  font-size: 14px;
  line-height: 18px;
  font-weight: inherit;
}

.input-group.label-transition label {
  transform: translateY(50%);
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: -16%;
  cursor: text;
  pointer-events: none;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
}

.input-group.label-transition .form-control {
  border: unset !important;
  border-bottom: 1px solid #c4c4c6 !important;
  border-radius: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 0 !important;
  color: #232e48;
}

.input-group.label-transition .input-group-prepend,
.input-group.label-transition .input-group-append {
  transform: translateY(-2px);
}

.page-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.child-page.page-background {
  background: linear-gradient(0deg, #19226d 75.83%, #ed1c24 100%);
}

.child-page.page-background .page-background {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 575px) {
  .btn-third {
    padding: 8px 56px;
  }
}
