.opacity-0 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.dp__menu.dp__menu_index.dp__theme_light {
  top: 45px !important;
  left: 0 !important;
  transform: unset !important;
}

.dp__btn.dp__button.dp__button_bottom {
  display: none;
}

.dp__calendar_header_item {
  font-size: 11px;
  padding: 0;
  width: unset;
  height: 20px;
}

.dp__icon.dp__clear_icon.dp__input_icons {
  display: none;
}
