.direct-transfer-log-page .home-container {
  margin: 100px auto !important;
}

.direct-transfer-log-page .search-block {
  max-width: 868px;
  padding: 24px 24px 16px;
  margin: auto;
}

.direct-transfer-log-page .search-block .col-12.col-md-6:nth-child(even) {
  padding-left: 16px;
  padding-right: 0;
}

.direct-transfer-log-page .search-block .col-12.col-md-6:nth-child(odd) {
  padding-left: 0;
  padding-right: 16px;
}

.direct-transfer-log-page .search-block .col-12.col-md-3 {
  padding-left: 16px;
  padding-right: 16px;
}

.direct-transfer-log-page .table-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.direct-transfer-log-page .table-actions .btn-export {
  color: #002d85 !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.direct-transfer-log-page .table-actions .btn-export:hover {
  text-decoration: underline;
}

.direct-transfer-log-page .table-actions .export-group {
  display: flex;
  align-items: center;
}

.direct-transfer-log-page .pagination {
  margin-bottom: 0;
  justify-content: flex-start;
}

.direct-transfer-log-page .pagination .page-link {
  background: transparent;
}

.direct-transfer-log-page .transaction-lookup-table {
  background: var(--background-bg-web, #f1f2f2);
}

.direct-transfer-log-page .transaction-lookup-table table {
  background: white;
}

.direct-transfer-log-page .transaction-lookup-table thead {
  background: var(--background-background-1, #f4f7fe);
}

.direct-transfer-log-page .transaction-lookup-table thead tr th {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
}

.direct-transfer-log-page .transaction-lookup-table tbody tr td {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #333333;
}

.direct-transfer-log-page .pl-0 {
  padding-left: 0 !important;
}

.direct-transfer-log-page .pr-0 {
  padding-right: 0 !important;
}

.direct-transfer-log-page .btn-reset {
  border-radius: 12px;
  border: 1px solid rgba(0, 45, 133, 0.2);
  background: #f4f7fe;
  padding: 12px 48px;
  margin-right: 8px;
  color: #002d85 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.direct-transfer-log-page .account-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 16px;
  padding: 16px;
  padding-left: 0;
}

.direct-transfer-log-page .account-info .info-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 4px;
}

.direct-transfer-log-page .account-info .title {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #333333;
  padding-top: 0;
}

.direct-transfer-log-page .account-info .info {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
  text-align: right;
}

.direct-transfer-log-page .modal-lg {
  max-width: 752px !important;
}

@media (max-width: 1201px) {
  .direct-transfer-log-page .table-actions {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .direct-transfer-log-page .filter-actions {
    flex-direction: column;
  }

  .direct-transfer-log-page .filter-actions .btn {
    width: 100%;
    margin-top: 0;
  }

  .direct-transfer-log-page .table {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    border-collapse: separate;
    background-color: transparent;
  }

  .direct-transfer-log-page .table thead {
    display: none;
  }

  .direct-transfer-log-page .table tbody {
    width: 100%;
    display: block;
  }

  .direct-transfer-log-page .table tr {
    box-shadow: none;
    border-width: 0;
    max-width: 100%;
    position: relative;
    display: block;
    margin-bottom: 1rem;
    box-shadow: 0 2px 3px rgba(76, 73, 72, 0.1), 0 0 0 1px rgba(76, 73, 72, 0.1);
    max-width: 100%;
    position: relative;
    display: block;
  }

  .direct-transfer-log-page .table tr td {
    display: flex;
    width: auto;
    justify-content: space-between;
    text-align: right;
    border-bottom: 1px solid #f5f5f5;
  }

  .direct-transfer-log-page .table tr td.actions {
    justify-content: flex-end;
  }

  .direct-transfer-log-page .table td::before {
    content: attr(data-label);
    font-weight: 600;
    padding-right: 0.5em;
    text-align: left;
  }

  .direct-transfer-log-page .search-block .col-12.col-md-6:nth-child(even) {
    padding-left: 0;
    padding-right: 0;
  }

  .direct-transfer-log-page .search-block .col-12.col-md-6:nth-child(odd) {
    padding-left: 0;
    padding-right: 0;
  }

  .direct-transfer-log-page .search-block .col-12.col-md-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .direct-transfer-log-page .modal-lg {
    max-width: 500px !important;
  }
}

@media (max-width: 575px) {
  .direct-transfer-log-page .home-container {
    margin: 90px auto !important;
  }

  .direct-transfer-log-page .table-actions .export-group {
    flex-direction: column;
    gap: 8px;
  }
}
