@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy"), url("../fonts/Gilroy-Light.otf") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy"), url("../fonts/Gilroy-Regular.otf") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy"), url("../fonts/Gilroy-Medium.otf") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy"), url("../fonts/Gilroy-Bold.otf") format("woff");
}

html,
body,
* {
  font-family: Gilroy, sans-serif;
}
