.footer ul li a {
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.footer ul li a:hover {
  text-decoration: underline !important;
}

.footer .copyright {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.7;
}

.footer .sns {
  display: flex;
  gap: 8px;
}

.footer .sns a {
  display: flex;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  align-items: center;
}

.footer .sns img {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.footer .sns .hotline {
  padding: 0 16px 0 4px;
}

.footer .sns .hotline .title {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.footer .sns .hotline .phone {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2.5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  margin-top: auto;
}

.footer .footer-container {
  flex-wrap: wrap;
  gap: 8px 16px;
}

.footer ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 4px;
}

@media (max-width: 991px) {
  .footer {
    justify-content: center;
  }

  .footer .footer-container {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .footer-menu {
    text-align: left;
  }

  .footer .copyright {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .footer {
    justify-content: center;
  }

  .footer .footer-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .footer .footer-menu {
    text-align: center;
  }

  .footer .copyright {
    font-size: 12px;
  }

  .footer .sns {
    display: none;
  }

  .footer .footer-menu ul {
    display: none;
  }
}

@media (max-width: 575px) {
  .footer .copyright .copyright-name {
    display: block;
  }

  .footer .copyright .divider {
    display: none;
  }
}
