.header {
  background: white;
  color: #232e48;
}

.header .container {
  display: flex;
  align-items: center;
  padding: 14px 32px;
  justify-content: space-between;
  gap: 32px;
}

.header .logo-and-search {
  display: flex;
  flex-wrap: wrap;
  gap: 0 24px;
  flex: 1;
  overflow: hidden;
  max-height: 48px;
}

.header .logo-and-search .logo img {
  height: 48px;
}

.header .logo-and-search input[type="search"] {
  width: 100%;
  max-width: 320px;
  min-width: 200px;
}

.header .header-menu {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header .header-menu .header-notifications {
  position: relative;
}

.header .header-menu .header-notifications .isax {
  font-size: 32px;
  color: #777777;
}

.header .header-menu .header-notifications .number {
  display: flex;
  font-size: 12px;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  background: #ed1c24;
  color: white;
  position: absolute;
  top: -2px;
  right: -2px;
  border-radius: 50%;
}

.header .header-menu .header-language img {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
}

.header .header-menu .user-menu {
  display: flex;
  gap: 10px;
}

.header .header-menu .user-menu .user-menu-content {
  text-align: right;
  font-size: 16px;
  line-height: 20px;
}

.header .header-menu .user-menu .user-menu-content .user-menu-name {
  font-weight: bold;
}

.header .header-menu .user-menu .user-menu-avatar img {
  width: 42px;
  height: 42px;
  border-radius: 9999px;
  cursor: pointer;
}

.header .header-menu .user-menu .user-menu-avatar button {
  border: unset;
  background: unset;
}

.header .header-menu .user-menu .user-menu-avatar .dropdown-menu.show {
  left: unset !important;
  right: 0 !important;
  top: 120% !important;
}

.header
  .header-menu
  .user-menu
  .user-menu-avatar
  .dropdown-menu
  .dropdown-item {
  font-weight: 500;
}

.header
  .header-menu
  .user-menu
  .user-menu-avatar
  .dropdown-menu
  .dropdown-item:hover {
  background: #f4f7fe;
}

@media (max-width: 575px) {
  .header .container {
    padding: 16px 20px;
  }

  .header .logo-and-search {
    max-height: 32px;
  }

  .header .logo-and-search .logo img {
    height: 32px;
  }

  .header .header-menu .user-menu .user-menu-content,
  .header .header-menu .header-language,
  .header .logo-and-search input[type="search"] {
    display: none;
  }

  .header .header-menu .header-notifications .isax {
    font-size: 24px;
  }

  .header .header-menu .header-notifications .number {
    font-size: 10px;
    width: 14px;
    height: 14px;
  }

  .header .header-menu .user-menu .user-menu-avatar img {
    width: 32px;
    height: 32px;
  }
}
