.child-page .container.home-container {
  margin-left: 336px !important;
}

.child-page .container.home-container > .card {
  border-radius: 16px;
}

.breadcrumb .breadcrumb-item a {
  color: #015baa;
}

.breadcrumb .breadcrumb-item.active {
  color: #333;
}

.home-container .page-title h2 {
  color: #333333e6;
}

.home-container .page-title .back {
  display: none;
}

.breadcrumb .breadcrumb-item .isax {
  display: none;
}

.home-container {
  margin: 100px auto !important;
}

.header-content-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .child-page .container.home-container {
    margin-left: 0 !important;
  }

  .home-container {
    margin: 90px auto !important;
  }
}

@media (max-width: 575px) {
  .header-content-page {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-container .breadcrumbs .breadcrumb {
    padding: 0;
  }

  .home-container .page-title {
    margin-bottom: 8px;
  }
}
