.left-menu {
  width: 300px;
  overflow: hidden;
  border-radius: 16px;
  background: #fff;
  height: calc(100vh - 194px);
  position: fixed;
  top: 100px;
  left: 24px;
  margin-right: 24px;
  padding: 16px 0;
  z-index: 999;
  transition: 0.3s;
  box-shadow: 8px 0px 6px 0px rgba(0, 0, 0, 0.16);
}

.left-menu ul {
  overflow-y: auto;
  height: 100%;
  margin: unset;
  padding: unset;
}

/* width */
.left-menu ul::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.left-menu ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 6px;
}

/* Handle */
.left-menu ul::-webkit-scrollbar-thumb {
  background: #c3c5d2;
  border-radius: 10px;
}

/* Handle on hover */
.left-menu ul::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.left-menu ul li.item {
  overflow: hidden;
  cursor: pointer;
}

.left-menu ul li.item:hover .item-content,
.left-menu ul li.item.active .item-content {
  color: white;
  font-weight: 600;
  background: var(--branding-primary-color, #002d85);
  position: relative;
}

.left-menu ul li.item:hover .item-content::before,
.left-menu ul li.item:active .item-content::before {
  content: "";
  width: 4px;
  height: 100%;
  background: #ed1c24;
  position: absolute;
  top: 0;
  left: 0;
}

.left-menu ul li.item .item-content {
  padding: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.left-menu ul li.item .item-content span {
  flex: 1;
  padding-left: 4px;
  transform: translateY(2px);
}

.left-menu ul li.item .item-content svg {
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: #002d85 !important;
  font-weight: 600;
}

.left-menu ul li.item:hover .item-content svg,
.left-menu ul li.item.active .item-content svg {
  color: white !important;
}

.left-menu ul li.item .item-content .icon {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.left-menu .sub-menu {
  background: #333;
  overflow: hidden;
  transition: max-height 0.5s;
  max-height: 0;
  background: white;
}

.left-menu ul li.item .sub-menu .sub-menu-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 14px 14px 14px 0;
  padding-left: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.left-menu ul li.item .sub-menu .sub-menu-item:hover {
  background: #f4f7fe;
  font-weight: 600;
  color: #002d85;
}

.left-menu ul li.item.active .sub-menu {
  max-height: 30em;
}

.left-menu ul li.item .item-content .isax {
  transition: 0.5s;
}

.left-menu ul li.item.active .item-content .isax {
  transform: rotate(90deg);
}

.left-menu .user-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  gap: 10px;
  background: var(--background-background-2, #fafafa);
  display: none;
}

.left-menu .user-menu .user-menu-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.left-menu .user-menu .user-menu-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.left-menu .user-menu .user-menu-content .user-menu-welcome {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #787878;
}

.left-menu .user-menu .user-menu-content .user-menu-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #333333;
}

/* responsive content */

.child-page .container.home-container {
  margin-left: 340px !important;
  max-width: unset;
  margin-right: 64px !important;
  width: unset;
  height: calc(100vh - 200px);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;
}

.child-page .container.home-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.child-page .container.home-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.child-page .container.home-container > .card {
  margin-bottom: 0 !important;
}

@media (max-width: 991px) {
  .left-menu {
    border-radius: 0;
    top: 64px;
    left: 0;
    height: calc(100vh - 64px);
    transform: translateX(-130%);
  }

  .left-menu .user-menu {
    display: flex;
  }

  .left-menu.show {
    transform: translateX(0);
    padding-top: 0;
  }

  .child-page .container.home-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    height: calc(100vh - 242px);
  }
}

@media (max-width: 767px) {
  .child-page .container.home-container {
    height: calc(100vh - 168px);
  }
}
