.setting-transaction-limit-page .home-container {
  margin: 100px auto !important;
}

.setting-transaction-limit-page .input-group.label-transition .form-control {
  line-height: 20.5px;
}

.setting-transaction-limit-content {
  background: #fafafa !important;
}

.setting-transaction-limit-page .card-scroll {
  height: calc(100% - 112px);
}

.transaction-limit-card {
  border-radius: 12px;
  border: 1px solid var(--branding-line, #e9e9e9);
  background: var(--text-white, #fff);
  padding: 24px;
}

.transaction-limit-card .row {
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 1s;
  height: 0;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

.transaction-limit-card.preview .row {
  -moz-transition: unset;
  -ms-transition: unset;
  -o-transition: unset;
  -webkit-transition: unset;
  transition: unset;
  height: unset;
  overflow: unset;
  padding: unset;
  margin: unset;
}

.transaction-limit-card.collapsed .row {
  height: unset;
  font-size: 14px;
  font-weight: 500;
}

.transaction-limit-card .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #333333;
}

.transaction-limit-card .title i {
  float: right;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #333;
  padding: 4px;
  border-radius: 50%;
  transition: 0.5s;
}

.transaction-limit-card.collapsed .title i {
  transform: rotate(180deg);
}

.transaction-limit-card .title i:hover {
  background: #edf3ff;
}

.transaction-limit-card .sub-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
  margin-top: 24px;
}

.setting-transaction-limit-page .group-button-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.setting-transaction-limit-page .btn-back {
  width: 200px;
  font-weight: 700;
  line-height: 20px;
  padding: 14px 24px !important;
}

.setting-transaction-limit-page .btn-submit {
  padding: 12px 50px !important;
  width: 200px;
}

.setting-transaction-limit-page .block-action {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.setting-transaction-limit-page .block-action .btn {
  padding: 8px 24px !important;
}

@media (max-width: 991px) {
  .setting-transaction-limit-page .btn-back,
  .setting-transaction-limit-page .btn-submit {
    width: unset;
    padding: 12px 36px !important;
  }
}

@media (max-width: 767px) {
  .setting-transaction-limit-page .btn-back {
    width: 100%;
  }

  .setting-transaction-limit-page .group-button-bottom {
    flex-direction: column-reverse;
    width: 100%;
  }

  .setting-transaction-limit-page .group-button-bottom .btn {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .setting-transaction-limit-page .home-container {
    margin: 96px auto !important;
  }
}
