.spending-management-page .home-container {
  margin: 100px auto !important;
}

#nav-tab-spending-management {
  border-radius: 12px;
  background: var(
    --branding-third-gradient,
    linear-gradient(90deg, #19226d 23.6%, #ed1c24 100%)
  );
  justify-content: space-between;
  padding: 6px;
}

#nav-tab-spending-management .nav-link {
  color: #fff;
  background: transparent;
  border: unset;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 33.333%;
  word-break: keep-all;
}

#nav-tab-spending-management .nav-link.active {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
}

.spending-management-card {
  padding: 24px 16px;
}

.card-chart {
  margin-top: 24px;
  border-radius: 12px;
  background: var(--background-background-2, #fafafa);
  padding: 24px;
  border: 1px solid var(--branding-line, #e9e9e9);
}

.change-month.sp-show {
  display: none;
}

.change-month {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 24px;
  margin-top: 16px;
}

.change-month i {
  width: 20px;
  height: 20px;
  background: #80808069;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.revenue {
  margin-top: 48px;
}

.revenue,
.expenditure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.revenue .color {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #167ebc;
  margin-right: 4px;
}

.expenditure .color {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #c52038;
  margin-right: 4px;
}

.revenue .money,
.expenditure .money {
  font-weight: 600;
}

.surplus {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  color: #167ebc;
}

#overview {
  font-size: 14px;
  font-weight: 600;
}

.spending-detail-block {
  margin-top: 24px;
  border-radius: 12px;
  background: var(--background-background-2, #fafafa);
  padding: 24px;
  border: 1px solid var(--branding-line, #e9e9e9);
  gap: 16px;
}

.spending-detail-block .spending-detail-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 16px;
  border-bottom: 1px solid gray;
}

.spending-detail-block .spending-detail-item .title {
  font-size: 20px;
  font-weight: 600;
}

.spending-detail-block .spending-detail-item .title i {
  font-size: 30px;
  margin-right: 10px;
}

.spending-detail-block .spending-detail-item .amount {
  font-size: 16px;
  font-weight: 600;
}

.spending-detail-block .spending-detail-item .date {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.spending-detail-block .spending-detail-item .amount.plus {
  color: #167ebc;
}

.spending-detail-block .spending-detail-item .amount.minus {
  color: #de1e2d;
}

.spending-detail-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.spending-detail-filter .label {
  width: 100px;
}

.spending-detail-filter .change-month {
  width: 150px;
}

.spending-detail-filter .form-select {
  flex: 1;
}

.font-22px {
  font-size: 22px;
}

@media (max-width: 991px) {
  .change-month.sp-show {
    display: flex;
    margin-top: 48px;
  }

  .change-month.pc-show {
    display: none;
  }
}

@media (max-width: 767px) {
  #nav-tab-spending-management .nav-link {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  #nav-tab-spending-management .nav-link {
    padding: 6px 0;
    font-size: 12px;
  }

  .spending-detail-block {
    padding: 0;
  }

  .spending-detail-filter {
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .spending-detail-filter .change-month {
    width: 100%;
    justify-content: center;
  }

  .spending-management-page .home-container {
    margin: 96px auto !important;
  }
}
