.spending-management-page .home-container {
  margin: 100px auto !important;
}

#nav-tab-spending-management {
  border-radius: 8px;
  background: var(
    --branding-third-gradient,
    linear-gradient(90deg, #19226d 23.6%, #ed1c24 100%)
  );
  justify-content: space-between;
  padding: 6px;
}

#nav-tab-spending-management .nav-link {
  color: #fff;
  background: transparent;
  border: unset;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 33.333%;
  word-break: keep-all;
}

#nav-tab-spending-management .nav-link.active {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
}

.spending-management-card {
  padding: 24px 16px;
}
.spending-management-card .card-content {
  border-radius: 8px;
}

.card-chart {
  margin-top: 24px;
  border-radius: 12px;
  background: var(--background-background-2, #fafafa);
  padding: 24px;
  border: 1px solid var(--branding-line, #e9e9e9);
}

.change-month.sp-show {
  display: none;
}

.change-month {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 24px;
  margin-top: 16px;
}

.change-month i {
  width: 20px;
  height: 20px;
  background: #80808069;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.revenue {
  margin-top: 48px;
}

.revenue,
.expenditure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  width: 100%;
}

.revenue .color {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #167ebc;
  margin-right: 4px;
}

.expenditure .color {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #c52038;
  margin-right: 4px;
}

.revenue .money,
.expenditure .money {
  font-weight: 600;
}

.surplus {
  text-align: right;
  font-size: 16px;
  color: #002d85;
  width: 100%;
  font-weight: 700;
}

.spending-management-page #nav-tabContent {
  margin-top: 24px;
}

#overview {
  font-size: 14px;
  font-weight: 600;
}

#overview .chart-content {
  display: flex;
  align-items: inherit;
  gap: 16px;
}

#overview .chart-content .card-chart {
  width: calc(50% - 8px);
}

#overview .select-account {
  max-width: 600px;
  margin: auto;
}

.spending-detail-block {
  margin-top: 24px;
  border-radius: 12px;
  background: var(--background-background-2, #fafafa);
  border: 1px solid var(--branding-line, #e9e9e9);
}

.spending-detail-block .spending-detail-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 16px;
  border-bottom: 1px solid #e9e9e9;
}

.spending-detail-block .spending-detail-item .title {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spending-detail-block .spending-detail-item .title.total {
  border-radius: 12px 12px 0px 0px;
  border: 0px solid var(--branding-line, #e9e9e9);
  background: var(--background-background-1, #f4f7fe);
  font-weight: 700;
  color: #333;
}

.spending-detail-block .spending-detail-item .title i {
  font-size: 30px;
  margin-right: 10px;
  color: #002d85;
}

.spending-detail-block .spending-detail-item .amount {
  font-size: 16px;
  font-weight: 700;
}

.spending-detail-block .spending-detail-item .date {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.spending-detail-block .spending-detail-item .amount.plus {
  color: #167ebc;
}

.spending-detail-block .spending-detail-item .amount.minus {
  color: #de1e2d;
}

.font-22px {
  font-size: 22px;
}

.spending-management-page .filter-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spending-management-page .filter-section span {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #333;
}

.spending-management-page .month-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 180px;
  gap: 8px;
}

.spending-management-page .month-filter i.isax {
  font-size: 18px;
  cursor: pointer;
}

.spending-management-page .month-filter .input-group-append .input-group-text {
  border: unset;
  background: unset;
  font-size: 22px;
  padding: 0;
}

.spending-management-page .month-filter #calendar-filter-month-input,
.spending-management-page .month-filter #calendar-filter-time-input,
.spending-management-page .month-filter #calendar-filter-year-input,
.spending-management-page .month-filter #calendar-filter-month-spending-input,
.spending-management-page .month-filter #calendar-filter-month-tax-input {
  border: unset;
  background: transparent;
  width: 60px;
  padding: 0;
  font-weight: 700 !important;
  transform: translateY(2px);
  font-size: 14px;
}

.spending-management-page .month-filter #calendar-filter-year-input {
  width: 40px;
}

.spending-management-page .spending-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.line-gray {
  height: 2px !important;
  width: 100%;
  margin-top: 6px;
  background: gray;
}

.spending-management-page .spending-detail-filter {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 750px;
  margin: auto;
  gap: 16px;
}

.spending-management-page .spending-detail-filter .select-account {
  flex: 1;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.spending-management-page
  .spending-detail-filter
  .dp__menu.dp__menu_index.dp__theme_light {
  top: 28px !important;
  left: 55px !important;
}

.dp-custom-calendar.dp__menu.dp__menu_index.dp__theme_light {
  top: 32px !important;
  left: 54px !important;
}

@media (max-width: 1365px) {
  .spending-management-page
    .spending-detail-filter
    .dp__menu.dp__menu_index.dp__theme_light {
    left: -10px !important;
  }
}

@media (max-width: 1201px) {
  #overview .chart-content {
    flex-direction: column;
  }

  #overview .chart-content .card-chart {
    width: 100%;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .change-month.sp-show {
    display: flex;
    margin-top: 48px;
  }

  .change-month.pc-show {
    display: none;
  }

  .mb-100 {
    margin-bottom: 50px !important;
  }
}

@media (max-width: 767px) {
  #nav-tab-spending-management .nav-link {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  #nav-tab-spending-management .nav-link {
    padding: 6px 0;
    font-size: 12px;
  }

  .spending-management-page .home-container {
    margin: 96px auto !important;
  }

  .revenue,
  .expenditure {
    font-size: 12px;
  }
}
