.transaction-info-page .home-container {
  margin: 106px auto !important;
}

.transaction-step {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 24px;
  margin-bottom: 42px;
}

.transaction-step .step-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  opacity: 0.6;
  transition: 0.3s;
}

.transaction-step .step-item.active {
  opacity: 1;
}

.transaction-step .step-item .step {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #ed1c24;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d9d9d9;
  color: #d9d9d9;
}

.transaction-step .step-item.active .step {
  background: #fff;
  border-color: #fff;
  color: #ed1c24;
}

.transaction-step .step-item .text {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #d9d9d9;
  word-break: keep-all;
  white-space: pre;
}

.transaction-step .progress {
  width: 100%;
  height: 3px;
  opacity: 0.6;
  background: #d9d9d9;
}

.transaction-step .progress.active {
  background: #fff;
  opacity: 1;
}

.transaction-info-page .limit-popup {
  padding: 12px 16px;
  border-radius: 12px;
  background: #edf3ff;
  margin-top: 8px;
  display: none;
}

.transaction-info-page .limit-popup p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #333333;
}

.transaction-info-page .limit-popup a {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #013aa9;
}

.max-length-count {
  width: 100%;
  text-align: right;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.account-modal .contact-list {
  display: grid;
  gap: 8px;
  margin-bottom: 8px;
  max-height: 375px;
  overflow-y: auto;
}

.account-modal .contact-list .contact-item {
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.5s;
  padding: 16px;
  border-bottom: 1px solid #f4f7fe;
  border-radius: unset;
}

.account-modal .contact-list .contact-item:hover {
  border-radius: 12px;
  background: #f4f7fe;
}

.account-modal .contact-item {
  padding: 8px 0px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.account-modal .contact-item .contact-bank {
  border-radius: 24px;
  border: 1px solid var(--branding-line, #e5e5e5);
  background: white;
  display: flex;
  width: 44px;
  height: 44px;
  cursor: pointer;
  flex-shrink: 0;
}

.account-modal .contact-item .contact-bank img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.account-modal .contact-item .contact-detail {
  display: grid;
  font-size: 14px;
  line-height: 20px;
}

.account-modal .contact-item .selected-card {
  flex: 1;
  text-align: right;
  color: blue;
}

@media (max-width: 767px) {
  .max-length-count {
    display: none;
  }
}

@media (max-width: 575px) {
  .transaction-step {
    display: none;
  }

  .account-modal .contact-list {
    flex: 1;
    max-height: unset;
  }

  #changeAccountModal .modal-title {
    font-size: 18px;
  }

  .transaction-info-page .home-container {
    margin: 96px auto !important;
  }
}
